library/Zend/*
library/Zend/
nbproject/*
nbproject/
var/cache/*
var/cache/
var/log/*
var/log/
var/session/
var/session/*
public/imagenes/*
public/imagenes/
public/colegios/
public/colegios/*
var/*
var/
var/session/*
var/session/
application/configs/*
public/configs/
public/imagenes/
public/imagenes/*
application/configs/applicaction.ini
public/.htaccess
*.ini
.idea/*