* {
padding:0;
margin:0;
}
/* 720x720 */
body {
background:#323232;
}
.wrapper_count {
max-width:912px;
margin:5.5% auto;
text-align: center;
/* border: solid 1px #f0a;*/
}
.wrapper_count .logo_life, .count_life{
text-align: center;
}
.wrapper_count .count_life{
width:300px;
margin-top: 10px;
}
.wrapper_count h1, h2, h3{
color: #dbdbdb;
/*border: solid 1px #f9a; */
font-size: 20px;
text-align: center;
}
.wrapper_count h1{
font-family: "RobotoThin";
}
.wrapper_count h1 strong{
font-weight: normal;
font-family: "RobotoBold";
}
.wrapper_count h2{
font-family: "funktion";
}
.wrapper_count h3{
font-family: "desyrel";
}
.clock_days, .clock_hours, .clock_minutes, .clock_seconds {
/*border:solid 1px #f0a;
padding:5px;
margin-right:22px;
float:right;
margin-top: 15px; */
display: inline-block;
}
.clock_days {
}
.clock_hours {
}
.clock_minutes {
}
.clock_seconds {
}
.bgLayer {
background-image:url(../img/bg.png);
background-repeat:no-repeat;
position:relative;
}
.topLayer {
position:absolute;
/*background-image:url(../img/top.png); */
width:188px;
height:188px;
background-repeat:no-repeat;
}
.text { position:absolute; top:45px; left:42px; width:100px; height:100px;}
.val {
font-family:"RobotoThin";
font-size:60px;
color:#FFF;
text-align:center;
line-height:50px;
margin-top:15px;
width:100px;
}
.type_days, .type_hours, .type_minutes, .type_seconds{
font-family:"RobotoLight";
width:100px;
text-align:center;
font-size:13px;
line-height:35px;
text-transform:uppercase;
}
.type_days {
color:#ff6565;
}
.type_hours {
color:#378cff;
}
.type_minutes {
color:#9cdb7d;
}
.type_seconds {
color:#ffdc50;
}
/*Footer*/
.footer_landing{
display: block;
z-index: 2;
text-align: center;
margin-top: 10%;
}
.footer_landing .derechos {
color: rgb(139, 140, 140);
font-size: 11px;
margin-top: 10px;
}
.footer_landing span {
display: inline-block;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.footer_landing .enlaces {
color: rgb(255, 255, 255);
font-size: 11px;
}
.footer_landing .enlaces a {
color: rgb(255, 255, 255);
font-size: 11px;
padding: 0px 8px;
white-space: nowrap;
text-decoration: none;
}
.footer_landing .enlaces a:hover {
text-decoration: underline;
}
.footer_landing .enlaces a:focus {
outline: medium none;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
.video_landing {
left: auto;
right: 20px;
}
}
/******** RESPONSIVE ESCRITORIO ********/
@media screen and (min-width: 768px) {
}