.frm-registro{
margin:0;
padding: 0px 20px 0px 20px;}
.frm-registro .inner{
width:290px;
margin:0 auto;}
.frm-registro .row-registrate{
margin:0;
text-align:right;
font-weight:bold;
text-decoration:underline;
font-size:15px;
font-weight:bold;}
.frm-registro .row-registrate a{
color:#747373;
margin:0 -25px 0 0;}
.frm-registro .col1{
float:left;
width:140px;
font-weight:bold;
line-height:40px}
.frm-registro .col2 a{
text-decoration:underline;}
.frm-registro input[type="text"], .frm-registro input[type="password"], .frm-registro input[type="email"]{
    margin-top: 5px;
    width: 218px;
    padding: 8px 25px;
    display: block;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.4);
    color: #626262;}
.frm-regi label{
font-size: 12px;
margin-left: 12px;
margin-top: 3px;
position:absolute}
.box-registro{
width: 330px;
box-shadow: 0 0 15px rgba(0,0,0,.3);
height: 370px;
border-radius: 10px;
position: relative;
margin: 0;
background-color: #fff;
float: right !important;
margin-top: 60px;
padding: 0;}
#wrapper {
width: 227px;
float: right;}
.logo{
background-image: url(../img/logo_nuevo.png);
display: block;
width: 205px;
height: 50px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
margin-top: 15px;}
.ca-container{
position: relative;
margin: 25px auto 20px auto;
width: 900px;
height: 340px;}
.ca-wrapper{
width:100%;
height:100%;
position:relative;}
.ca-item{
position: relative;
float: left;
width: 300px;
height: 260px;
text-align: center;
font-family: arial;
font-size: 12px;}
.ca-more{
position: absolute;
bottom: 10px;
right:0px;
padding:4px 15px;
font-weight:bold;
background: #ccbda2;
text-align:center;
color: white;
font-family: "Georgia","Times New Roman",serif;
font-style:italic;
text-shadow:1px 1px 1px #897c63;}
.ca-icon{
width: 233px;
height: 90px;
position: relative;
margin: 0 auto;
background: transparent url(../tiendas/usuario.png) no-repeat center center;}
.ca-item-2 .ca-icon{
background-image:url(../tiendas/moneda.png);}
.ca-item-3 .ca-icon{
background-image:url(../tiendas/usuarioazul.png);}
.ca-item p{
font-family: arial;
font-size: 16px;
text-align: center;
color: #505050;
font-family: 'typo_round_regular_demoRg';
margin-top: 20px;
margin-bottom: 15px;}
.nada{
    background-color: #aa0;
}