nav ul li i.i-profile{
background-position: -7px -460px;
width: 22px;
height: 22px;}
nav ul li i.i-store{
background-position: -7px -111px;
width: 20px;
height: 19.9px;}
nav ul li i.i-tran{
background-position:0 -163px;
width:20px; 
height:20px;}
.box-login{
background-color: #eee;
padding: 20px;
width: 440px;
margin: 0 auto;}
.box-login h3{
color:#c0392b; 
font-weight:bold;
font-size:20px;
border-bottom:1px solid #fff;
text-align:center;
padding-bottom:20px; 
margin-bottom:30px;}
.box-login h3 i{
margin-right:15px;}
.other{
width: 440px;
height: 42px;
padding: 15px;}
.btn-primary{
color: #ffffff;
background-color: #00B855;
border-color: #4cae4c;
border: 0;
border-bottom: 1px solid #217239;
border-radius: 5px;
height: 30px;
width: 125px !important;}
.table-responsive{
width: 99.8%;}
.table-responsive .table{
width:100%;
max-width:100%;}
.h-wg .dataTables_wrapper{
min-height:435px;
position:relative;}
.h-wg .table-responsive #tbl-tiendas_info{
position:absolute;
bottom:-46px; left:0;}
.h-wg .table-responsive #tbl-tiendas_paginate{
position: absolute;
bottom: -46px;
right: 0;
margin-right: 5px;}
.btnxx{
width: 115px;
height: 30px;
margin-top: 10px;
margin-left: 10px;}
.icon-globe{
background-position:0 -224px;
width:19px;
height:19px;
margin-top:-2px;
margin-right:3px;}
.icon-globe-mini{
background-position:-32px -224px;
width:11px; 
height:11px;
margin-top:2px;}
.box-registro{
padding: 111px 20px 20px 20px;
margin: 0 auto;
width: 396px;
}
.box-registro .i-logo-vp{
background:url(../img/logo-vp.png) 0 0 no-repeat; 
width:85px;
height:85px;
display:block; 
float:left;
margin:-23px 0 0 12px;}
.box-registro .i-logo-vp2{
background: url(../img/logo-vp.png) 0 0 no-repeat;
width: 85px;
height: 85px;
display: block;
float: left;
margin: -6px 0 0 25px;}
.box-registro h3{
font-size:55px;
color: #fff; 
font-family: 'typo_round_regular_demoRg';
font-weight:bold;
text-align:center;
margin:4px 0 0px;}
.box-registro p.info{
font-size:15px;
color:#747373; 
text-align:center; 
font-weight:bold;}
.box-registro .row-login:before, .box-registro .row-login:after{
content:""; 
line-height:0;
display:table;}
.box-registro .row-login:after{
clear:both;}
.box-registro .row-login{
text-align: center;
margin-bottom:15px;}
.box-registro .lnk-terminos{
float: left;
width: 235px;
font-size: 10px;
font-weight: bold;
margin: 0;
margin-left: 87px;}
.box-registro .lnk-terminos a{
text-decoration:underline;}
.box-registro .lnk-sesion{
float:left; 
width:45%; 
text-align:right;
font-weight:bold;
margin:6px 0 0;}
.box-registro .lnk-sesion a{
color:#c62f35; 
text-decoration:underline;}
.nom_map2{
position: absolute;
margin-left: 82px;
margin-top: 10px;
font-size: 15px;
color: #616160;
font-weight: bold;}
/* Perfil  Tienda Seguidor */
.locales-perfil{
width: 785px;
background-color: #ffffff;
margin-bottom: 10px;
height: auto;
float:left;}
.locales-perfil-titulo{
width: 756px;
height: 60px;
margin: 0 auto;}
.locales-perfil-nombre{
text-align: left;
width: 240px;
height: 30px;
color: #505050;
font-size: 20px;
font-weight: bold;
float: left;
padding: 15px 10px 15px 10px;
border-radius: 5px;}    
.locales-perfil-botones{
width: 210px;
height: 32px;
float: right;}
.locales-perfil-option{
float: right;
width: 170px;
height: 32px;
background-color: #EDEDED;
border-radius: 5px;
border: 0;
padding-left: 15px;}
.locales-perfil-lista{
width: 230px;
height: 335px;
float: left;
padding: 0px 0px 27px 25px;}
.locales-perfil-zona{
width: 230px;
height: 40px;
background: #EDEDED;
float: left;
margin-bottom: 10px;
border-radius: 5px;
cursor: pointer;}
.locales-perfil-datos{
float: left;
width: 165px;
height: 30px;
padding: 5px;}
.locales-perfil-zona:hover{
width: 230px;
height: 40px;
background: #4D88CC;
color:#FFFFFF;
float: left;
margin-bottom: 10px;
border-radius: 5px;  
cursor: pointer;}
.locales-perfil-contenedor{
width: 210px;
height: 32px;
float: right;
padding: 14px 10px 14px 0px;
font-size: 15px;}
.locales-perfil-mapa{
height: 335px;
width: 500px;
float: right;
margin-left: 0;
margin-right: 0px;}
.locales-perfil-subdatos{
width: 170px;
height: 15px;
overflow: hidden;
word-wrap: break-word;}
.locales-perfil-vertodos{
height: 14px;
padding: 0px 25px 15px 25px;
width: 735px;
text-align: center;
float: left;}
.locales-perfil-porcentaje{
background-color: #dc0000;
float: right;
height: 30px;
margin-left: 99px;
position: absolute;
top: 0px;
width: 50px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;}
.locales-perfil-vale{
border: 1px solid #c8c8c8;
width: 149px;
height: 179px;
border-radius: 5px;}
.locales-perfil-img-vale{
width: 150px;
height: 90px;
border-bottom: 1px solid #c8c8c8;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
/* Fin Perfil Tienda Seguidor */
.can{
margin-top: -20px;
background-color:#828280;}
.bg-registro{
background: url(../img/fondo_vp.jpg) 0 0 no-repeat transparent;
background-size: cover;
background-position: center center;
position: fixed;
top: 0;
bottom: 0;
width: 100%;}
.bg-registro .main{
margin-left:0;
height: 900px;}
.pos-ter{
margin-left:-5px !important;}
.div-a{
margin-left: 20px;
margin-top: 6px;}
.pos_cua3{
margin-top:90px;}
.box-publicar{
margin:15px;}
.box-publicar .col-foto{
float:left; 
width:50px;}
.box-publicar .col-mensaje{
margin-left:65px;}
.box-publicar ul.lst-adjuntar{
margin:20px 0 0; 
list-style:none;}
.box-publicar ul.lst-adjuntar li{
float:left; 
margin-right:15px;}
.box-publicar2 .col-foto{
width:110px;}
.box-publicar2 .col-mensaje{
margin-left:120px;}
.box-publicar2 .dropdown-privacidad{
margin:17px 21px 0 0;}
.box-publicar2 .para{
margin:3px 15px 0 0; 
float:left;}
.box-publicar2 .btn{}
.box-publicar3 .col-foto{
width:35px;}
.box-publicar3 .col-mensaje{
float:left; 
margin-left:0; 
width:220px;}
.marven{
margin-top: 20px;}
.wapper2{
height: 500px;}
.contenedor{
margin-top: -50px;
height: 490px;
background: #EDEDED;}
#display ul{
margin: 0 0 0px 0;}
#display ul li{
width: 300px;
height: 40px;
padding: 10px;}
#display ul li:hover{
width: 300px;
height: 40px;
padding: 10px;
background:#EDEDED;}
#display ul span{
padding-left: 0px;}
#display ul .vermas{
font-size: 12px;
margin: 0 auto;
text-align: center;
text-decoration: underline;
padding: 8px;
background-color: #EDEDED;
cursor: pointer;}
.vermas a{
    color: rgb(80, 80, 80);
}
#display li.selected{
background: none repeat scroll 0 0 #EDEDED;}
.url{
margin-top: 3px;
margin-left: 25px;}
.direccion{
width: 403px;
height: auto;
margin-left: 22px;
margin-top: 3px;}
.telefono{
width: 100px;
height: auto;}
.hyper_tam{
font-size:9.5px;}
.personal_inicio{
width: 1030px;
height: 25px;
padding: 15px 15px 15px 35px;}
.box-password{
width: 380px;
height: 156px;
margin: 0 auto;
margin-top: 171px;
margin-bottom: 170px;
border: 1px solid #c8c8c8;
background-color: #c5c5c5;
border-radius:10px;}
.box-password .frm-registro{
border-bottom-width:0;
margin: 0;}
.box-password h3{
color: #fff;
text-align: center;}
.box-password .inner{
width: 380px;
margin: 0 auto;} 
.box-user{
border: 1px solid #d2d2d2;
margin-bottom: 25px;}
.box-user .box-header img{
margin-bottom:15px;}
.box-user .box-header img{
float:left; 
margin-right:15px;}
.box-user .box-header h6{
margin:0; 
font-size:14px;
font-weight:bold;}
.box-user .box-header h6 span{
font-size:10px;
padding:0 10px;}
.box-user .box-responder{
background-color:#f8f8f8;
border-top:1px solid #d2d2d2;}
.box-user .box-txt{
background-color: #f4f4f4;
overflow: hidden;
height: 60px;
border-color: #c8c8c8;
border-radius: 2px;
width: 565px;
margin-top: 10px;}
.box-user .box-txt img{
float:left;
margin-right:15px;
margin-bottom:10px;}
.box-user .box-txt .form-control{
float: left;
width: 465px;
margin-top: 13px;}
.box-user .box-responder .row-user2, .box-comentarios .row-user2, 
.box-txt .row-user2{
background-color:transparent !important;}
.box-user .row-user2{
padding:15px; 
position:relative; 
background-color:#f8f8f8;
height: 40px;}
.box-user .box-responder .row-user, .box-comentarios .row-user, 
.box-txt .row-user{
background-color:transparent !important;}
.box-user .box-comentarios{
background-color: #f4f4f4;
height: auto;
margin-top: -2px;
border-top: 1px solid #c8c8c8;
width: 582px;}
.box-user .box-comentarios p.ver{
margin-bottom:0;}
.box-user .box-comentarios p.ver span{
color:#c0392b; 
font-weight:bold;
cursor:pointer;}
.box-user .box-comentarios p.ver span{
color:#c0392b;
font-weight:bold;
cursor:pointer;}
.box-user .box-comentarios .lst-comentario{
margin-top:15px;}
.box-user .share{
position:absolute; 
top:15px;
right:15px;}
.box-user .dropdown-privacidad{
float:left;}
.box-user .share .close{
float:right; 
margin-left:15px;}
.box-user p.responder{
text-align:right; margin:0;}
.box-user .row-user{
padding: 15px 0 0 16px;
position:relative;
background-color:#f8f8f8;
height: auto;}
.box-row-comments{
padding: 0px;}
.box-user [type="text"]{
width:100%;}
.box-user h3{
margin-bottom:15px;
font-weight:bold;}
.dd-socio{
width: 350px;
height: auto;}
.dd-socio img{
margin:0 0 0 2px;}
.dd-socio ul{
width:auto;
list-style:none; 
margin:0 0 0 5px;
float:left;
height: auto}
.widget{
background-color:#fff;}
.widget:before, .widget:after{
content:"";
display:table;}
.widget:after{
clear:both;}
.widget-header{
color:#fff;
font-size:15px;
font-weight:bold;
height:35px;
padding:0 15px;
line-height:38px;}
.widget-content{
background-color: #fff;
padding: 15px 15px 15px;}
.widget-header .count-tiendas{
font-size:12px;}
.widget-header .count-tiendas span{
padding:0 10px;}
.widget-header .count-tiendas .btn{
margin-left: -122px;
margin-top: 55px;}
.titu-seguidores h1{
color:#e89244;}
.barra-importar{
margin: 67px 0;
overflow: hidden;
margin-top: -21px;
margin-left: 2px;
position: absolute;
width: 1004px;}
.barra-importar ul{
text-align:center; 
margin:25px 0;
line-height:0;}
.barra-importar ul li{
display:inline-block; 
margin:0 2%;}
.barra-importar ul li a{
display:block; 
background:url(../img/sprite-btn-sociales.png) 0 0 no-repeat; 
width:157px;
height:58px;
overflow:hidden; 
text-indent:100%; 
white-space:nowrap;}
.barra-importar ul li.i-fabebook a{
background-position:0 0;}
.barra-importar ul li.i-twitter a{
background-position:0 -58px;}
.barra-importar ul li.i-gmail a{
background-position:0 -116px;}
.barra-importar ul li.i-outlook a{
background-position:0 -174px;}
.barra-importar ul li.i-correo a{
background-position:0 -232px;}
.tbl-importar{
width: 1081px;
text-align: center;
margin-top: 15px;}
.tbl-importar thead th, .tbl-importar tbody td{
padding:6px;}
.tbl-importar thead th .btn{
font-size:10px;}
.tbl-importar thead th:nth-child(2), .tbl-importar tbody td:nth-child(2){
text-align:left;}
.tbl-importar thead th:nth-child(1), .tbl-importar thead th:nth-child(4){
width:40px;}
.tbl-importar thead th:nth-child(3){
width:130px;
text-align:center;}
.tbl-importar tbody td{
border-bottom:1px solid #c8c8c8;}
.tbl-importar tbody td:nth-child(2) img{
border:1px solid #d8d9d9; 
margin-right:5px;}
.tbl-importar .btn{
width:120px;}
.x_nuevo{
width: 15px;
height: 40px;
float: left;
cursor: pointer;}
footer{
margin-left:0px;
position:absolute;
width:100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{
display: block;}
html{
font-size: 100%;
background-color: #e9f1f4;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;}
a{
color: #0088cc;
text-decoration: none;}
a:hover, a:active{
outline: 0;}
.box-importar{
width: 380px;
margin: 0 auto;
margin-left: 331px;}
.box-importar p{
font-size:15px; 
color:#616161;
text-align:center;
margin:15px 0;}
.box-importar .btn-importar{
border-bottom:0 !important; 
font-family:Arial;
width:120px; 
height:28px; 
padding:0; 
line-height:28px;
font-size:15px;
font-weight:bold;
margin:25px auto; 
display:block;}
.form-horizontal .control-label2{
text-align: left;
margin-left: -33px;
width: 145px;
margin-top: 7px;
padding: 0;}
.contenido-vales{
width: 70px;
height: 35px;
margin-left: 15px;}
.nohayw{
width: 735px;
height: 15px;
padding: 25px 25px 25px 25px;
text-align: center;}
.ra_nom{
height: auto;
width: 220px;
margin-top: -20px;
position: absolute;}
.boton_modal{
border: 1px solid #C8C8C8;
width: 373px;
height: 40px;}
#div_viven{
padding-top: 10px;}
#div_edad{
padding-bottom: 10px;}
.comboxv4{
width: 260px;
height: 33px;
border: 1px solid #c8c8c8;
color: gray;
border-radius: 5px;}
#perfil_img #btn-solicitud-amistad{
width: 125px !important;
height: 30px !important;
margin-left: 12px !important;}
#perfil_img .am2{
width: 125px !important;
height: 30px !important;
margin-left: 12px !important;}
.p-nom  select{
width: 170px;
height: 30px;}
.nom_div{
font-size: 15px;
margin-top: 8px;
margin-left: 15px;
width: 90px;
float: left;}
.text-a img{
width: 35px;
height: 35px;}
.elin{
margin-left:60px;}
.listadobo img{
cursor: pointer;}
.misvale-vp :hover .elimin img{
display: block;}
.elimin{
position: absolute;
margin-top: -81px; 
display:none;}
.left{
float:left;}
ul, ol{
padding: 0;
float:left;
margin: 0 0 -7px 25px;}
ul ul, ul ol, ol ol, ol ul{
margin-bottom: 0;}
dl{
margin-bottom: 20px;}
dt{
font-weight: bold;}
dd{
margin-left: 10px;}
form{
margin: 0;}
button, select{
text-transform: none;}
button[disabled], html input[disabled]{
cursor: default;}
input[type="checkbox"], input[type="radio"]{
box-sizing: border-box;
padding: 0;
*height: 13px;
*width: 13px;}
textarea{
overflow: auto;
vertical-align: top;}
/* No identificado */




@media print{
*{
color: #000 !important;
text-shadow: none !important;
background: transparent !important;
box-shadow: none !important;}
a, a:visited{
text-decoration: underline;}
a[href]:after{
content: " (" attr(href) ")";}
abbr[title]:after{content: " (" attr(title) ")";}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{
content: "";}
pre, blockquote{
border: 1px solid #999;
page-break-inside: avoid;}
thead{
display: table-header-group;}
tr, img{
page-break-inside: avoid;}
img{
max-width: 100% !important;}
@page{
margin: 0.5cm;}
p, h2, h3{
orphans: 3; widows: 3;}
h2, h3{
page-break-after: avoid;}}
a{
color: #505050 ;
text-decoration: none !important;}
a:hover{
text-decoration:none;}
p{
font-size: 12px;
line-height: 120%;
margin: 0 0 13px;
font-family: Arial, Helvetica, sans-serif;
color: #505050;}
.row{
width: 65%;
position: absolute;
margin-top: 248px;
margin-left: 250px;}
.container:before,.container:after, .row:before,.row:after{
display:table;
line-height:0; content:"";}
.container:after, .row:after{
clear: both;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,
.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,
.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-md-2,.col-md-3,.col-md-5,
.col-md-7,.col-md-8,.col-md-10,.col-md-11,.col-md-12,
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
position:relative;
min-height:1px;
padding-left:15px;
padding-right:15px;}
.col-md-2,.col-md-3,.col-md-5,.col-md-6,
.col-md-7,.col-md-8,.col-md-10,.col-md-11{
float:left;}
.col-md-2{
width:16.666666666666664%;}
.col-md-3{
width:25%;}
.col-md-7{
width :562px;}
.col-md-10{
width:83.33333333333334%;}
#wrapper{
width:100%; 
margin: 0 auto;}
#content:before,#content:after{
content:"";
display:table;}
#content:after{
clear:both;}
#header:before, #header:after{
content:""; 
display:table;}
#header:after{
clear:both;}
.connect .dropdown > a img{
margin-right:5px;
border:1px solid #C9CBCB;}
nav:before, nav:after{
display:table; 
content:""; 
line-height:0;}
nav:after{
clear:both;}
nav ul{
list-style:none;
padding:0; 
margin:0;
float:left;
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;}
nav ul li{
color:#626262;
font-family:Arial; 
font-size:12px;
height:47px;}
nav ul li:first-child{
border-top:0;}
nav ul li a{
color: #626262;
display: block;
padding: 15px 4px;}
nav ul li a:hover{
text-decoration:none; 
background-color:#efeeee;}
#sidebar{
width: 44px;
background-color: #fff;
position: absolute;
left: 0;
top: 0;
bottom: 0;
z-index: 999;
float: left;
left: 0;
position: fixed;
top: 40.4px;
z-index: 100;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;}
#footer{
height: 50px;
background: url(../img/patron-foot.png) 0 0 repeat-x;
clear: both;
width: 105.9%;
bottom: 0;
position: fixed;}
#footer ul{
list-style: none;
padding: 0;
margin: 18px 0 0 300px;}
#footer ul li{
float:left;
margin-right:115px;}
#footer ul li a{
color:#8d8d91;}
[class^="icon-"], [class*=" icon-"]{
display:inline-block;
width: 31px;
height: 31px;
line-height:14px; 
vertical-align:text-top;
background-image:url(../img/icons.png);
background-position:0 0;
background-repeat: no-repeat;}
.icon-picture{
background-position:0 -400px; 
width:18px;
height:18px;
margin:-2px 10px 0 0;}
.icon-config{
background-position:0 -416px;
width:14px; 
height:14px;
vertical-align:middle;
margin-top:-2px;}
.icon-config-black{
background-position:-32px -416px;
width:14px;
height:14px; 
margin-top:0;}
.icon-gadge{
background-position:-160px -416px;
width:16px;
height:18px;}
.icon-picture{
background-position:-192px -416px;
width:12px;
height:12px; 
margin-top:0;
margin-left:50px;
vertical-align:middle;}
.icon-lock{
background-position:0 -448px;
width:13px;
height:20px;
margin-top:-2px;}
.icon-picture{
background-position: -192px -416px;
height: 12px;
margin-top: 0;
vertical-align: middle;
width: 12px;}
.icon-config2{
background-position: 0 -480px;
width: 32px;
height: 28px;
margin-top: 0px;}
.icon-calendar{
background-position:-32px -96px; 
width:19px;
height:20px;
vertical-align:middle;}
[class^="icon-tab"], [class*=" icon-tab"]{
display:inline-block;
width:35px;
height:33px;
line-height:14px;
margin-right:5px;
vertical-align:middle;
background-image:url(../img/sprite-tab.png);
background-position:0 0;
background-repeat: no-repeat;}
.icon-tab.icon-valepoint{
background-position: 0 -88px;
width:42px; 
height:42px;}
.logo{
float:left; 
margin:4px 0 0 14px;
width:115px;
height:120px;
padding: 5px 2px;}
.logo h1{
width:119px; 
height:30px;
margin:0;}
.logo h1 a{
background-image: url(../img/logo_nuevo.png);
display: block;
width: 175%;
height: 170%;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
margin-left: -12px;
margin-top: 8px;}
.nopadding{
padding:0 !important;}
.tbl{
width: 100%; 
margin-bottom: 20px;}
.tbl th, .tbl td{
padding: 6px; 
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;}
.tbl th{
font-weight: bold;}
.tbl thead th{
vertical-align: bottom;}
.vales{
border:1px solid #c8c8c8;
background-color:#ececec;
padding:15px;
position:relative;
height:65px;
margin-bottom:25px;}
.vales .titulo{
margin:8px 0 0 0;}
.vales .corner{
width:93px; 
height:65px; 
position:absolute;
top:-1px; 
right:-1px;
background:url(../img/box-corner.png) 0 0 no-repeat;}
.vales .corner span{
display:block;
color:#fff;
font-size:18px;
text-align:right;
margin:12px 10px 0 0;}
.wg-visitas .widget-header{
background-color:#5b90bd;}
.dataTables_wrapper:before, .dataTables_wrapper:after{
content:"";
display:table;}
.dataTables_wrapper:after{
clear:both;}
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate{
padding:10px;}
.dataTables_info{
margin:10px 0;}
.nav{
margin-left:0;}
ul.lst-info{
margin:0 0 30px; 
list-style:none;
overflow:hidden;}
ul.lst-info li{
margin-bottom:15px;}
ul.lst-info li div{
width:40%;
float:left;}
.row-vale{
border:1px solid #cacdce;}
ul.lst-vales{
list-style:none;
margin:0;}
ul.lst-vales a{
display:block;
border:1px solid transparent; 
padding:5px;}
ul.lst-vales a:hover{
background-color:#ededed; 
border-color:#cacdce; 
text-decoration:none;}
ul.lst-vales li .col1{
width:51px;
float:left;
margin-bottom:1px;}
ul.lst-vales li .col2{
padding-left:60px;}
ul.lst-vales li .col2 h6{
font-size:12px; 
font-weight:bold;
color:#5f5f5f; 
margin:0;}
.modal .modal-header{
color:#008BD2;}
.modal .box-publicar{
margin:0 auto !important;}
.modal .box-publicar ul.lst-adjuntar{
margin-top:0;}
.titu-config h1{
color:#5f5f5f;}
.titu-tiendas h1{
color:#635e9f;}
.titu-puntos h1{
color:#5f5f5f;}
.titu-vales h1{
color:#ab473c;}
.vigencia{
padding:0 10px 0 25px;}
.titu-widget{
font-size:15px; 
font-weight:bold; 
color:#919191;
margin:25px 0;}
#content.nobg{
background-color:#fff;}
#carousel-main{
margin:45px 45px 40px;}
#carousel-main .carousel-control{
width:auto;}
#carousel-main .carousel-control.left, .carousel-control.right{
background:none;
left:-25px;}
#carousel-main .carousel-control.right{
left:inherit;
right:-25px;}
#carousel-main .carousel-indicators{
left:inherit;
bottom:-75px;
width:100%;
margin-left:0;}
#carousel-main .carousel-indicators li{
border:0; 
background-color:#009de0;
width:14px;
height:14px;
margin:5px;}
#carousel-main .carousel-indicators .active{
background-color:#00577a;
width:14px;
height:14px;}
#carousel-main .carousel-control .arrow-prev, .carousel-control .arrow-next{
background:url(../img/arrow-slider.png) 0 0 no-repeat;
width:12px; 
height:60px;
display:block;
position:absolute;
top:50%;
margin-top:-30px;}
.ar{
width: 300px;
height: 80px;}
.paddingv{
 padding: 22px;   
}
#carousel-main .carousel-control .arrow-next{
background-position:-12px 0;}
#carousel-main .carousel-inner > .item img{
margin:0 auto;}
#carousel-main .carousel-indicators{
text-align:right;}
.cnt-importar .page-header{
margin-left:10px;
margin-right:8px;
border-bottom:1px solid #c3111d;}
.cnt-tbl{
width: 380px;
height: 120px;
margin: 20px auto;
overflow: auto;
background-color: #dbdbdb;
border-radius: 2px;
margin-bottom: 0;}
.tbl-importar2{
width:100%;
margin:0 auto;}
.tbl-importar2 tbody td:nth-child(1) img{
border:1px solid #d8d9d9; 
margin-right:5px;}
.tbl-importar2 tbody td{
border-bottom:1px solid #c7c7c7;
padding:6px;}
.btn-default{
float: right !important;
margin-right: 40px;
background-color: #828280;
color: #ffffff;
border-bottom: 1px solid #505050;
border-radius: 5px;
height: 30px;
width: 125px !important;}
.btn-danger{
background-color: #828280;
color:#ffffff;
border-bottom: 1px solid #505050;
border-radius: 5px;}
.btn-success{
color:#ffffff;
background-color: #00B855;
border-color:#4cae4c;
border:0;
border-bottom: 1px solid #217239;
border-radius: 5px;}
.posi_yatienes{
position: absolute;
margin-left: 276px;
margin-top: -7px;
width: 126px;}
.img_club{
margin-left:183px;}
.sms_titulo{
margin-left: 28px;
margin-top: -29px;
color: #ffffff;
font-size: 15px;}
.trans_titulo{
}
.trans_titulo2{
margin-top:-17px;}
.on{
margin-left: 86px;
margin-top: 45px;
position: absolute;}
.btn-success3{color: #ffffff;
background-color:#00B855;
border-color: #4cae4c;
border: 0;
border-bottom: 1px solid #207239;
width: 120px;
height: 30px;
font-size: 13px;
background: url(../img/amixer-01.png) no-repeat #00B855 left;
background-position: 7px 7px;
padding-left: 26px;
padding-top: 2px;}
.viven_res{
margin-left:86px;
margin-top: -28px;
font-size: 13px;}
.edad_pre{
margin-left: 12px;
font-size: 13px;
color: #8c8c8c;
margin-top: 12px;}
.edad_res{
margin-left: 86px;
margin-top: -28px;
font-size: 13px;}
.profe_pre{
margin-left: 12px;
font-size: 13px;
color:#8c8c8c;}
.hr_peque{
margin-top: 13px;
margin-left: 119px;
position: absolute;}
.amigos_fotos{
width: 280px;
height: 205px;
margin-left: 0px;
margin-top: 50px;
position: absolute;
background-color: #f8f8f8;
border-color: #c8c8c8;
border: 1px solid #C9CBCB;}
.cant_vp{
color: #dc0000;
font-size: 10px !important;
margin-top: 8px;
position: absolute;
margin-left: 4px;
font-weight: bold;}
.cant_vpx{
color: #dc0000;
font-size: 10px;
margin-top: 8px;
position: absolute;
margin-left: 24px;
font-weight: bold;}
.img_vp1{
    float:left;
width:40px;
}
.cant_vps{
color: #dc0000;
margin-left: 102px;
font-size: 10px;
margin-top: 8px;
font-weight: bold;
position: absolute;}
.cant_vpsx{
color: #dc0000;
margin-left: 110px;
font-size: 10px;
margin-top: 8px;
position: absolute;
font-weight: bold;}
.fondo{
width: 1080px;
height:1080px;
margin: 0 auto;}
.wg-favoritos2{
border-color:#008BD2;}
.widget-header2{
color: #fff;
font-size: 15px;
font-weight: bold;
height: 35px;
padding: 0 15px;
line-height: 38px;}
.wg-favoritos2 .widget-header2{
background-color: #008BD2;}
.mensajes{
margin-left: 805px;
margin-top: 20px;
position: absolute;}
li{
list-style:none;}
.logeo{
width: 150px;
height: 19px;
padding: 2px 5px 2px 5px;
border: 1px solid #c8c8c8;
border-radius: 2px;
-webkit-border-radius:2px;
margin-top:16px;}
.pass{
width: 150px;
height: 19px;
padding: 2px 5px 2px 5px;
border: 1px solid #c8c8c8;
border-radius: 2px;
-webkit-border-radius:2px;}
.invitation{
margin-left: 50px;
margin-top: 160px;}
.coment2{
position: absolute;
margin-left: 15px;
margin-top: 176px;
font-size: 14px;
font-weight: bold;}
.log{
width: 242px;
height: auto;
min-height: 48px;
position: relative;
margin-left: 102px;
border-bottom: 1px solid #c8c8c8;
float: right;}
.inp{
margin-left: 132px;}
.atra{
margin-left: 990px;
margin-top: 13px;}
.confirm{
position: relative;}
.soli{
margin-left: 10px;
margin-top: 5px;}
.yo:hover{
width: 50px;
height: 30px;
position: absolute;
border-bottom: 2px solid;
display: block;}
.yo{
width: 50px;
height: 30px;
position: absolute;}
.club{
width: 72px;
height: 30px;
position: absolute;
margin-left: 75px;}
.club:hover{
width: 72px;
height: 30px;
position: absolute;
border-bottom: 2px solid;
display: block;
margin-left: 75px;}
.a1{
margin-left: 25px;}
.publica{
width: 115px;
height: 30px;
position: absolute;}
.publica:hover{
width: 115px;
height: 30px;
position: absolute;
border-bottom: 2px solid;
display: block;}
#contenedor{
width: 1020px;/* Ancho del contenedor */
box-sizing: border-box;
-moz-box-sizing: border-box;}
.label_2{
float: right;
cursor: pointer;
font-size: 15px;/* Tamaño del texto de las pestañas */
line-height: 48px;
height: 40px;
padding: 0 20px;
display: block;
color: #888;/* Color del texto de las pestañas */
text-align: center;
border-radius: 5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
background: #eee;/* Fondo de las pestañas */
margin-right: 5px;}
.label_3{
float: right;
cursor: pointer;
font-size: 15px;/* Tamaño del texto de las pestañas */
line-height: 40px;
height: 40px;
padding: 0 20px;
display: block;
color: #888;/* Color del texto de las pestañas */
text-align: center;
border-radius: 5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
background: #eee;/* Fondo de las pestañas */
margin-right: 5px;}
.label_2:hover + label{
background: #ddd;
color: #666;
cursor:pointer;}
.label_3:hover + label{
background: #ddd;
color: #666;
cursor:pointer;}
#contenedor input:checked + label{
background: #ffffff;
color: #444;
z-index: 6;
line-height: 30px;
height: 33px;
position: relative;
top: 5px;
-webkit-transition: .1s;
-moz-transition: .1s;
-o-transition: .1s;
-ms-transition: .1s;
cursor:pointer;}
.content{
background: #ffffff;/* Fondo del contenido */
position: relative;
width: 100%;
height: 500px;/* Alto del contenido */
padding: 30px;
z-index: 5;
border-radius: 0 5px 5px 5px;
-webkit-border-radius:0 5px 5px 5px;}
.content-1{
position: absolute;
z-index: -100;
opacity: 0;
transition: all linear 0.1s;}
.content-2{
position: absolute;
z-index: -100;
opacity: 0;
transition: all linear 0.1s;}
.content-3{
position: absolute;
z-index: -100;
opacity: 0;
transition: all linear 0.1s;}
#contenedor input.tab-selector-1:checked ~ .content .content-1,
#contenedor input.tab-selector-2:checked ~ .content .content-2,
#contenedor input.tab-selector-3:checked ~ .content .content-3{
z-index: 100;
opacity: 1;
-webkit-transition: all ease-out 0.2s 0.1s;
-moz-transition: all ease-out 0.2s 0.1s;
-o-transition: all ease-out 0.2s 0.1s;
-ms-transition: all ease-out 0.2s 0.1s;}
.p_n{
margin-top: -14px;
margin-left: 70px;}
.map2{
height: 450px;
width: 540px;}
.logr{
width: 40px;
height: 40px;
margin-left: -13px;
margin-top: 2px;
float:left;}
.cotenido-vista span{
    color:#515151 !important;
    font-family: 'typo_round_regular_demoRg';
}
.linea-datoscx{
    width: 100%;
    text-align: center;
    font-size:22px;
    font-family: 'typo_round_regular_demoRg';
    color: #1e85c7;
    padding: 10px 0 20px;
}
.rg2{
margin-top: 5px;}
.rx{
margin-top: 14px;
margin-left: 0px;}
.val{
margin-top:-220px;}
.hea1{
width: 498px;}
.zoo{
margin-left: -12px;
margin-top: -12px;
width: 202px;}
.agre{
margin-left: 12px;}
.afo{
margin-top: 25px !important;}
.headbr{
margin-top:10px;}
.con-comp{
width: 90px;
margin-top: -7px;
margin-left: 57px;}
.padd{
padding:0px !important;}
.labe{
margin-left:0px !important;}
.esperam{
width:800px;
height: 180px;
margin:50px auto;}
.contenido{
width: 91px;
height: 35px;}
.titulo-header{
color: #fff;
margin-left: 2px;
font-size: 15px;
font-family: 'typo_round_regular_demoRg';
float: left;
margin-top: 10px;
font-weight: bold;}
.header-perfil{
height:35px;
background-color: #4D88CC;}

.header-local{
height: 35px;
background-color: #5CB85C;}
.btn-success-amigo{
color: #ffffff;
background-color: #00B855;
border-color: #4cae4c;
border: 0;
border-bottom: 1px solid #207239;
width: 120px;
height: 30px;
font-size: 15px;
background: url(../img/mini-amix-01.png) no-repeat #00B855 left;
background-position: 18px 8px;
padding-left: 25px;
padding-top: 0px;
border-radius: 35px;}
.header-tiendas{
background-color: #635e9f;
height: 35px;}
.header-catalogo{
background-color: #008ccd;
height: 35px;}
.text-a{
text-align:center;}
.publicacion{
width: 585px;
height: auto;
background-color: #ffffff;
float: left;
margin-bottom: 10px;}
.am{
position: absolute;
margin-left: 62px;
width: 85px;
height: 25px;
font-size: 12px;
top: 245px;
border-radius:0 !important;}
.titulo-header a{
color: #fff !important;}
.no-h{
height: 120px;
padding: 10px; 
text-align:center;}
.inx{
display:initial !important;}
input:focus{
outline: none;}
.barraii ul li{
display: inline-block;
margin: 0 0.5%;}