@charset "utf-8";
/* Nav Empresa */
nav ul li i{display:block; float:left; margin-left:8px; margin-top:0px; width:20px; height:20px; vertical-align:text-top; background-image:url(../img/MENU_TIENDA-02.png); background-position:0 0; background-repeat: no-repeat;}
nav ul li a span{color:#626262; display:block; padding-left:40px;}
nav ul li i.i-home{background-position:0 0px; width:23px; height:21.5px;}
nav ul li i.i-profile{background-position:0 -22px; width:23px; height:21px;}
nav ul li i.i-local{background-position:0 -43px; width:23px; height:22px;}
nav ul li i.i-store{background-position:0 -65px; width:23px; height:22px;}
nav ul li i.i-cata{background-position:0 -85.5px; width:23px; height:21.5px;}
nav ul li i.i-tag{background-position:0 -106px; width:23px; height:23px;}
nav ul li i.i-amigos{background-position:0 -128px; width:25px; height:24px;}
nav ul li i.i-mens{background-position:0 -151px; width:22px; height:17.5px;}
nav ul li i.i-trans{background-position:0 -168px; width:21.5px; height:18px;}

