.pagesx{
clear: both;
float: left;
display: inline;}
.pagesx ul{
float: left;
padding:0px;
margin:0px;}
.pagesx ul li{
float: left;
display: inline;
margin-right: 3px;}
.pagesx ul li.onx{	
    background: #a8a0a0;
    color: #000;
    width: 50px;
    height: 20px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.pagesx ul li span span{
color: #FFFFFF;}  
.gallery{
float: left;
overflow: hidden;
border: 1px solid #333;
background: #f9f9f9;
margin-bottom: 20px;
padding: 10px;
width: 63px;
height: auto;}
.gallery li{
float: left;
display: inline;
font-weight: bold;
width: 40px;
padding: 10px;
margin-right: 10px;
background: #eee;
border: 1px solid #999999;
text-align: center;}
.pages{
clear: both;
float: left;
display: inline;}
.pages ul{
float: left;
padding:0px;
margin:0px;}
.pages ul li{
float: left;
display: inline;
margin-right: 3px;}
.pages ul li.onx{
background: #a8a0a0;
color: #000;
width: 50px;
height: 20px;
font-size: 15px;
padding: 10px;
text-align: center;
border-radius: 5px;}
.pagination-page-numbers{
background: #d0d0d0;
color: #000;
width: 50px;
height: 20px;
font-size: 15px;
padding: 10px;
text-align: center;
border-radius: 5px;}
.pagination-page-numbers a{
color:#505050 !important;}
.pages ul .onx a{
color: #f9f9f9 !important;}
.nextx a span{
color: #FFFFFF;}
.prevs a span{
color: #FFFFFF;}
.pages ul li span span{
color: #FFFFFF;}  
.pagination-page-numbers  a span{
padding: 10px 27px 11px 20px;}


