/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/04/2017, 03:20:43 PM
    Author     : Pol.Armaza
*/
body{
    color: #626262;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
}
a{
   text-decoration: none;
}
.container{
    
}
.mr-80{
    width:80%;
    margin:0 auto;
}
header{
    display:block;
}
.log-header{
    width:50px;
    height: 50px;
    display:block;
}
.log-header img{
    width:100%;
}
