nav ul li i.i-home{
background-position:-7px -51px;
width:20px; 
height:20px;}
nav ul li i.i-local{
background-position:-7px -100px;
width:20px; 
height:20px;}
nav ul li i.i-cata{
background-position: -7px -145px;
width:20px;
height:20px;}
nav ul li i.i-est{
background-position: -7px -321px;
width: 20px;
height: 19px;}
nav ul li i.i-canje{
background-position:-7px -362px;
width:20px;
height:20px;}
.containerx{
width:960px;
margin:0 auto;}

/* Otras Clases del Landing */
.n_gratis{
font-size:30px;
border-bottom: 1px solid;
text-align: center;
margin:0;}
.spacexD{
width: 290px;
padding: 40px 20px 0px 20px;
height: 45px;}
.extres{
margin-bottom:25px;
font-size:15px;}
.nuevoc{
width: 100%;
height: 200px;
background-size: cover;
background-position: center center;
background-color: #FFFFFF;}
.nuevocp{
width: 100%;
height: 200px;
background-size: cover;
float:left;
background-position: center center;
background-color: #FFFFFF;}
.nuevoc2{
width: 100%;
height: auto;
background-size: cover;
background-position: center center;
background-color: #EDEDED;}
.nuevoc3{
width: 100%;
height: auto;
background-size: cover;
background-position: center center;
}
.modulon{
width:100%;
height: 140px;
margin: 0 auto;}
.modulon2{
width: 1020px;
height: auto;
margin: 0 auto;}
.comp-n{
width: 960px;
height: 310px;
margin: 0 auto;
}
.imgxx{
width: 100%;
background: url(../tiendas/fondotienda.png) 0 0 no-repeat transparent;
background-size: cover;
background-position: center center;
height: 490px;
margin-top:44px;}
.ntitulo{
font-size: 40px;
color: #fff;
padding: 35px;
margin: 0;
text-align: center;
line-height: 32px;
width: 94.8%;
height: 40px;}
.ntitulo2{
font-size: 30px;
font-family: 'typo_round_regular_demoRg';
color: #505050;
padding: 51px;
margin: 0;
}
.ntitulo3{
font-size: 30px;
font-family: 'typo_round_regular_demoRg';
color: #fff;
padding: 51px;
margin: 0;
}
.n-space{
width: 305px;
height: auto;
float: right;}
.wib{
    height: 100%;
    width:165px;
}
.div-are{
  width: 100%;
  float: left;
  height: 123px;  
}
.sub-space1{
width: 105px;
height: auto;
float: left;}
.sub-space2{
float: right;
width: 300px;
height: auto;
}
.ti-n{
color: #505050;
font-size: 25px;
margin: 0;}
.btn-successx{
width: 150px !important;
height: 50px !important;
font-size: 14px !important;
font-weight: bold !important;
box-shadow: 0px 1px 0px #506450 !important;
margin: 3px auto 0px !important;
display: block !important;
background: #00AD13 !important;
border-radius: 7px !important;
color: #fff;
font-size: 18px !important;}
.containerxy{
width: 100%;
height: 650px;
background-size: cover;
background-position: center center;
background: #FFFFFF;}
.comboxvx{
width: 250px;
height: 38px;
margin-top: 5px;
padding: 8px 13px;
display: block;
font-size: 15px;
color: #626262;
background-color: rgba(255,255,255,0.4);
border: 0;
border-radius: 5px;
border: 1px solid #c7c7c7;
}
.inputs-re{
    margin-top: 5px;
width: 228px;
padding: 8px 20px;
display: block;
font-size: 15px;
margin: 0 auto;
background-color: rgba(255,255,255,0.4);
border: 0;
color: #626262;
}
.cont-n{
float: left;
width: 570px;
height: 370px;
margin-top: 60px;}
.letramayusculax{
width: 510px;
height: 140px;
color: #FFFFFF;
font-size: 33px;
font-family: 'typo_round_regular_demoRg';
line-height: 45px;
font-weight: bold;}
.cont-lisx{
width: 570px;
height: 265px;}
.lista_one{
padding: 10px;
width: 570px;
height: 20px;
font-size: 18px;
color: #ffffff;
}
.text-one{
margin-top: 2px;
float: left;
margin-left: 20px;}
.letra_tito{
width: 960px;
margin:0 auto;} 
.sliderx{
width: 100%;
margin: 0 auto;
/* margin-top: 60px; */
background: #FFF;}
.containery{
width: 100%;
height: 640px;
background-size: cover;
background-position: center center;
background-color: #EDEDED;}
.containery2{
width: 100%;
background: url(../tiendas/fondo2.jpg) 0 0 no-repeat transparent;
background-size: cover;
background-position: center center;
background-color: #EDEDED;}
.modul2{
width: 840px;
height:500px;
margin: 0 auto;
padding: 0px 90px 0px 90px;}
.registrr{
height: 55px;
margin-bottom: 0px;
margin-top: 30px;}
.img-in{
width: 390px;
height: auto;
float: left;}
.pche{
margin-top: -20px;
margin-left: 30px;}
.slider-tiendas2{
    position: relative;
    top: 0px;
    left: 0px; 
    width: 35px;
    height:350px;
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}
.reg-tiend{
    width: 140px;
}
.btn-reg-ti{
    background: url(../iconosconf/registrate.png) 0 0 no-repeat transparent;
    background-position: center center;
    width: 165px;
    border: 0;
    height: 50px;
}
.slider-tiendas1{
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 350px;
    float: left;
    margin-left: -75px;
    margin-top: -10px;
}
/* Fin Otras Clases del Landing */

/* Locales */
.modal-tam{
width:100px;}
.combox-zonal{
width: auto;
margin-right: 20px;
height: 25px;
font-size: 11px;}
.contenedor-locales{
float: left;
width: 1049px;
height: auto;
min-height: 500px;
background: #FFFFFF;
margin-bottom: 10px;
padding: 15px;}
.contenedor-locales form{
margin:0 !important;}
.campo-text-locales-checkbox{
padding: 15px 0px 10px 0px;
float: left;
width: 330px;
min-height: 15px;
height: auto;}
.cont-datos-locales textarea{
width: 300px;
height: auto;}
.mrg-btn{
    float: left;
    margin: 20px 0;
    width: 100%;
}
.cont-img-local{
    float:left;
    width:100%;
}
.cont-datos-locales{
    float: left;
    padding:10px 20px;
    height: auto;
}
.cont-datos-locales2{
    float: left;
    padding: 20px;
    height: auto;
}
.nombre-dat-locales{
width: 150px;
float: left;
min-height: 16px;
padding: 7px;
height: auto;}
.modalm{
width: 310px;
height: 150px;}
.ordmulti{
width: 310px;
height: 40px;}
.lee{
float: left;
margin-top: 6px;}
.checkmu{
margin-left: 35px;
margin-top: 2px;}
.gumult{
margin-left: 90px !important;
margin-top: -15px !important;}
.pad-con{
width: 531px !important;}
.inpxmulti{
width: 225px;
height: 16px;
padding: 5px;
font-size: 14px;}
.position-checkbox{
margin-left:15px;}
.campo-text-locales{
float: left;
height: auto;}
.boton-local{
color: #ffffff;
background-color: #00B855;
border-color: #4cae4c;
border: 0;
border-bottom: 1px solid #217239;
border-radius: 5px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
width: 125px;
height:30px;
font-size: 15px;}
.mapa-local{
height: 400px;
width: 540px;
float: left;}
.boton-cancelar-local{
background-color: #828280;
color: #ffffff;
border-bottom: 1px solid #505050;
border-radius: 5px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
width: 125px;
height:30px;
font-size: 15px;
border:0;}
.height-multiple{
height: 150px !important;
width: 300px;}
.boton-coordenadas{
background: url(../img/btn-coordenada.png) 0 0 no-repeat;
width: 26px;
height: 24px;
display: inline-block;
text-indent: -999em;
margin-top: 2px;
background-position: -5px -2px;
border-bottom: 1px solid !important;
border-radius: 4px;
}
.modal-body-locales{
padding: 10px 20px 0px 20px;
position: relative;
width: 540px;
height: auto;
float: left;}
.modal-content-coordenada{
position: relative;
background-color: #ffffff;
border: 1px solid #999999;
border: 1px solid rgba(0, 0, 0, 0.2);
outline: none;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
background-clip: padding-box; 
width: 580px !important;
float: left;
height: auto;
margin: 0 auto !important;}
.texto-cordenada-local{
width: 540px;
height: 30px;
float: left;
margin-bottom: 10px;}
.modal-header-coordenada{
width: 538px;
color: #008BD2;
border: 1px solid #c8c8c8;
height: 13px;
padding: 10px 20px 10px 20px;
font-weight: bold;}
.close-local{
float: right;
font-size: 22px;
font-weight: bold;
line-height: 1;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.2;
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
margin-top: -3px;}
.modal-titulo-local{
float: left;
width: 515px;
height: auto;}
.datos-locales{
    max-height: 30px;
    overflow: hidden;
    width: 184px;
    word-wrap: break-word;
}
.modal-close-local{
float: right;
width: 15px;
height: auto;}
.boton-coordenada{
width: 540px;
height: 30px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
text-align: right;}
.nuevolocal{
width: 1080px;
height: auto;
min-height: 540px;
background: #FFFFFF;
float: left;
margin-bottom: 10px;}
.he-lo{
height: 30px;
float: right;
padding: 4px 15px 0px 0px;}
.div-spann{
color: #505050;
font-size: 20px;
font-weight: bold;
float: left;
margin-left: 25px;}
.muchazona{
width:1080px;
height:auto;
float:left;
margin-bottom: 15px;}
.zona{
width: 310px;
height: 62px;
transition: background 0.5s;
background: #f3f3f3;
margin-left: 37px;
margin-top: 20px;
float: left;}
.zona:hover{
    background-color: #e0e0e0;
}
.dat-zona{
    float: left;
    padding: 8px;
    width: 183px;
}
.tuercax{
float: right;
width: 33px;
height: 33px;
padding: 15px 10px 15px 7px;
cursor: pointer;}
.muchazona :hover .tuercax span{
display: block;}
.tuercax span{
width: 42px;
height: 38px;
background: transparent url(../img/tuercax-01.png) no-repeat top left;
top: 35%;
margin-top: -2px;
left: -9px;
text-indent: -9000px;
opacity: 0.7;
cursor: pointer;
z-index: 100;
display: none;}
.map-zona{
width: 1016px;
height: 370px;
float: left;
margin-top: 15px;
margin-left: 43px;
margin-bottom: 30px;}
.modal_tr{
font-size:18px;}
/* Fin Locales */

/* Wizard */
.centra{
position: absolute;
width: 460px;
height: 415px;
margin-top: 131px;
margin-left: 240px;}
.content-valeconsumo-wizard{
width: 710px;
height: auto;
float: left;
margin-bottom: 20px;}
.wizard-boton{
float: right;
margin-top: 8px;}
.posicion-invi{
width:100%;
height:545px;
text-align: center;}
.subirxx{
position: absolute;
border: 1px solid #c8c8c8;
width: 117px;
height: 30px;
margin-left: 0px;
padding: 22px;}
.cont-wiz{
width: 960px;
height: auto;
float: left;
display:none;}
.cont-secx{
background-color: #fff;
padding: 0px 20px 20px 20px;
width: 920px;
margin-bottom: 10px;
float: left;}
.contis{
width: 845px;
height: auto;
float: left;
padding-left: 35px;
padding-right: 35px;}
.contisp{
width: 845px;
height: 385px;
margin: 0 auto;}
.luego2z{
cursor: pointer;
position: absolute;
margin-left: 605px;
margin-top: 0px;}
.wcamar{
margin-left: 26px;
margin-top: 18px !important;}
.div_perfill{
width: 110px;
margin-bottom: 45px;
margin-left: 150px;
margin-top: -25px;}
.div_perfill img{
border-radius: 50px;
box-shadow: 0px 0px 3px #8a8a8a;}
.btn-coordenada{
background: url(../img/btn-coordenada.png) 0 0 no-repeat;
width: 28px;
height: 25px;
display: inline-block;
text-indent: -999em;
margin-top: 2px;
border-radius: 5px;
background-position: -4px -2px;
border-bottom: 1px solid;
}
.como-v{
position: absolute;
margin-left: 25px;
margin-top: 15px;}
.boton-ex{
font-family: Cantarell, Verdana, sans-serif !important;
font-size: 12px !important;
width: 160px !important;
height: 60px !important;
padding: 0 10px !important;
margin: 15px 0 !important;
border-radius: 6px !important;
-moz-border-radius: 6px !important;
-webkit-border-radius: 6px !important;
color: #ffffff !important;
background-color: #50AA50 !important;
border-color: #50AA50 !important;
border-bottom: 1px solid #50AA50 !important;
font-size: 20px !important;}
.env-xxx{
width: 160px;
height: 80px;}
.formu{
    float: left;
    margin-left: 70px;
    margin-right: 70px;
    padding: 10px 0;
}
.formu2h{
width: 500px;
height: 385px;
float: left;
height:auto;}
.inpux{
float: right;
}
.inpuxxx{
margin-right: 45px !important;}
.formu-new{
width: 500px;
margin-left: 60px;
float: left;}
.posi-new4{
margin-right: 39px;
float: right;}
.leftw{
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 8px;
}
.ordenado-valexy{
width: 450px;
height: auto;
float: left;
padding:10px;
margin-bottom:10px;}
.vale_mapx{
width: 267px;
height: 322px;
background-color: #f8f8f8;
border-color: #c8c8c8;
border-radius: 5px;
margin-top: 60px;
margin-left: 70px;
border: 1px solid #C9CBCB;}
.correox2{
height:28px;
width:280px;
border: 1px solid #C9CBCB;
border-radius:5px;
font-size:12pt;
padding: 0px 0px 0px 6px;}
.personal_classx{
margin-top: 25px;
text-align: center;}
.descripcion_classx{
margin-top: 12px;
font-size: 20px;}
.div_agregarx{
width: 280px;
height: 140px;
margin-top: 15px;
background-color: #FFFFFF;
border-style: solid;
border-radius: 5px;
overflow: auto;
border-width: 1px;
border-color: #C8C8C8;}
/* Fin Wizard */

/* Catalogo */
.tprox{
font-size: 13px;
width: 175px;
height: 17px;
overflow: hidden;
word-wrap: break-word;}
.dat-cat{
width: 175px;
height: 87px;
float: right;
padding: 0px 5px 3px 5px;
line-height: 1.35;}
.nomca{
width: 175px;
height: 20px;
font-size: 15px;
font-weight: bold;
overflow: hidden;}
.lista-catt{
width: 100%;
height: 250px;
}
.mce-panel{
float:left;
}
.cont-lista-catt{
    float:left;
    width: 100%;
}
.listadobo{
width: 150px;
height: 32px;
margin-top: 30px;
float: left;
display: none;}
.lista-catt :hover .listadobo{
display: block;}
.edin{
margin-left: 40px;}
.canda{
width: 100px;
height: auto;
font-size: 13px; 
float:left;}
.candaa{
width: 22px;
height: 30px;
float: right;}
.content-cata{
background: #FFFFFF;
padding: 20px;
float: left;
margin-bottom: 10px;}
.ordenado-vale2{
width: 650px;
height: 280px;}
.new_cat{
width: 1040px;
height: auto;
background: #FFFFFF;
padding: 20px;
margin-bottom: 10px;}
.dolares-cat{
float: left;
margin-left: 515px;}
.tam_in{
width: 332px;
height: 32px;}
.pos_mal2{
width: 305px;
height: 32px;
margin-left: 81px;
margin-top: -250px;}
.precio_pos{
margin-left: -13px;}
.pos_fr{
border-width: 1px;
margin-left: -1px;
width: 655px;
margin-top: 10px;}
.lab_1{
width: 91px;}
.hori{
margin-left: 80px;}
.lab1{
width:100px;
margin-left: -30px;}
.md8cat{
margin-left: 155px;
width: 276px;
float: left;
margin-bottom: 15px;
margin-top: 15px;}
.md8xx{
width: 285px;
float: left;}
.colmd4{
width: 25.333333%;
margin-top: -250px;
margin-left: -147px !important;}
.titulo-c{
width: 100%;
height: 25px;
color: #5F5F5F;
text-align: center;
font-size: 17px;
font-weight: bold;
line-height: 12px;}
.colm10{
margin-left: 170px;
width: 505px;
margin-top: -15px;}
.colm10x{
margin-left: 77px;}
.md-8{
margin-left: 165px !important;}
.galleryx{
margin-left: 195px !important;}
.dolar_posi{
margin-top: -46px;
margin-right: -230px;}
.malx{
margin-left: 173px !important;}
.ordenado-vale3{
width: 650px;
height: 300px;}
.ordenado-valez{
width: 485px;
height: 45px;}
.ordenado-valez input[type="text"]{
width: 300px;
height: 20px;
float: right;}
.ordenado-valez select{
width: 310px;
height: 30px;
float: right;}
.cat-nue{
width: 335px;
height: 90px;
border: 1px solid #c8c8c8;
float: left;
margin-left: 14px;}
/*Fin Catalogo */

/*Perfil Tiendas */
.titulo-nomvalprod{
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
}
.titulo-nomvalprod-pqe{
    font-size: 15px;
    font-weight: bold;
    padding: 8px 15px;
}
.vale-v4{
width: 843px;
background-color: #ffffff;
height: auto;
padding-top: 17px;
 margin-top: 3px;}
.min-bnew3{
width: 20px;
height: 20px;
background: #F6F6F6;
float: left;
padding: 7px 5px 5px 5px;
cursor:pointer;
margin-left: 1px;
background:  url(../img/b-iconos.png)  no-repeat;
background-position: -181px 8px;
border-radius: 5px;}
.row-1{
margin-top: -5px;
margin-left: -11px;
width: 480px;
overflow: auto;}
.li2{
height: 56px;
line-height: 15px;}
.ahe{
height: 50px;}
.conte2{
width: 500px;}
.combo-clubn{
border: 1px solid #C9CBCB;
width: 142px;
height: 30px;
padding: 4px;
float: right;
margin-right: 30px;
margin-top: 13px;
color: #505050;
background: #EDEDED;
font-size: 15px;
border-radius: 5px;}
.fotos3{
margin-top: 24px;}
.oferta-tienda{
float: left;
width: 225px;
height: 23px;
padding: 2px 5px 0px 0px;
text-align: center;}
.precio-tienda{
float: left;
width: auto;
height: 20px;
padding: 3px;
text-align: center;}
vale-container-tienda{
border: 1px solid #C8C8C8;
width: 288px;
height: 203px !important;
border-radius: 5px;}
.vp-monto{
float: left;
width: 263px;
height: 25px;
color: #DDF80E !important;
font-size: 15px;
padding: 0px 0px 10px 0px;}
div.vp-monto img.img-fontp1{
    width: 100%;
    height:209px;
}
.img-fontp2{
     width: 100%;
     height: 60px;
}
.datos-vale-t{
float: left;
width: 164px;
height: 45px;
line-height: 0.9;}
.vale-fila-tienda{
width: 849px;
height: 220px;
padding: 10px 15px 10px 0px;}
.titulo-nomvalprod2{
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
}
.descripcion-vale-tienda{
 color: #FFFFFF;
font-size: 15px;
width: 155px;
height: 30px;
overflow: hidden;
padding: 4px;
line-height: 0.9;
word-wrap: break-word;}
.div-vale-n{
width: 77px;
height: auto;
float: left;}
.box-nuevo{
width: 100%;
height: auto;
padding-top: 10px; 
padding-left:10px;
float:left;
margin-bottom: 10px;}
.modal-titlexz{
margin-top: 12px;
margin-left: 145px;
float: left;
color: #5f5f5f;
font-size: 15px;
font-weight: bold;}
.comppag{
width: 20px;
height: 20px;
float: left;}
.cant_vp-prod{
font-size: 14px !important;
margin: 0px;
height: 20px;
padding-right: 3px;
float:right;
font-family: 'Varela Round', sans-serif;
font-weight: bold;
line-height: 19px;
color: #80b201;
}
.amx{
position: absolute;
margin-left: -45px;
width: 95px;
height: 25px;
font-size: 12px;
top: 192px;
border-radius: 47px !important;
background-color: #00B855;
background: url(../img/v4-3.png) no-repeat #00B855 left;
background-position: 12px 6px;
padding-left: 17px;
padding-top: 3px;}
.amx2{
position: absolute;
margin-left: -45px;
width: 95px;
height: 25px;
font-size: 12px;
top: 170px;
border-radius: 47px !important;
background-color: #00B855;
background: url(../img/v4-3.png) no-repeat #00B855 left;
background-position: 12px 6px;
padding-left: 17px;
padding-top: 3px;}
.p-desc{
margin: 0px;
width: 100%;
height: auto;
word-wrap: break-word;
overflow: hidden;}
.tienda-dat-n{
margin-left: 11px;
width: 199px;
height: auto; 
margin-bottom: 10px;}
.hyper-vale-n{
margin-top: 5px;
position: absolute;
margin-left: 5px;
cursor:pointer;}
.modal-ivx{
width: 385px !important;
height: 240px;
margin-top: 85px !important;}
.bien_hxx{
width: 383px !important;
height: 45px;}
.feliz{
padding: 40px 45px 45px 45px;
text-align: center;
font-size: 15px;}
.row-loginx{
width: 372px;
height: 45px;
float: left;}
.fonaso{
border: 1px solid #C9CBCB;
width: 248px;
padding: 8px 5px;
margin: 0 auto;
display: block;
border-radius:5px;}
.imgzona2{
background: url("../img/sprite_locales_perfil.png");
background-position: -19px 0px;
background-repeat: no-repeat;
width: 26px;
height: 24px;}
.locales-perfil-zona:hover .imgzona2{
background: url("../img/sprite_locales_perfil.png");
background-position: 5px 0px;
background-repeat: no-repeat;
width: 26px;
height: 24px;}
.vales-g-new{
width: 785px;
height: 210px;
margin-top: 25px;}
.div-mapex{
width: 755px;
height: 335px;
margin-left: 15px;}
.conf-fec{
float:right;
}
.conf-fec img{
float: right;
padding: 0px 5px;
width:26px;
margin: 0 !important;
cursor: pointer;
}
.cont-cod-vale{
    float: left;
    text-align: center;
    width: 100%;
}
.select-canje-vale{
    display: inline-block;
    padding: 15px;
}
.input-canje-vale{
    display: inline-block;
    padding: 10px 0px;
}
.input-cod-canje{
    background-color: rgb(208, 208, 208);
    border: 0px none;
    border-radius: 5px;
    padding: 3px;
    width: 70px;
    color: #505050;
    text-align: center;
}
.select-zona-canje{
    border-radius: 5px;
    border: 0;
    background-color: #d0d0d0;
    padding: 3px;
    color: #505050; 
}
.desc-nuevo{
float: left;
width: 212px;
height: auto;
padding: 12px;
margin: 0px;}
.div-selxz{
width: 572px;
height: 32px;
float: left;
font-size: 15px;
margin-left: 75px;
padding: 14px 18px 10px 0px;}
.botones-new{
width: 145px;
height:30px;
float:right;}
.div-spanv4{
text-align: center;
width: 244px;
height: 30px;
color: #fff;
font-family: 'typo_round_regular_demoRg';
font-size: 15px;
float: left;
padding: 9px 10px 15px 10px;
border-radius: 5px;}
.valev4x{
width: 810px;
height: 45px;
margin: 0 auto;
background: #99caac;
box-shadow: 1px 1px 2px 0px;}
.local-sin{
float: left;
padding: 8px;
padding-left: 27px;
font-size: 15px;
padding-right: 0px;}
/*Fin Perfil Tiendas*/

/* Vales Tienda */
.botona{
width: 100%;
text-align: center;
height: auto;}
.modal-bodyv{
position: relative;
padding: 0px 20px 20px 20px;
height: 135px;}
.botom-mis{
width:150px;
height:auto;
margin-top:5px !important;}
.btn-nuevo-vale{
width: 100px;
height: 30px;
margin-left: 15px;
float: right;
margin-right: 0;}
.ofertass{
width: 125px;
height: 30px;
margin-left:90px;}
.detallevale-visualizado{
    float: left;
    border: 0;
    background-color: #e7e7e7;
    width: 134px;
    padding: 4px 2px;
    border-radius: 5px;
    color: #595858;
    font-size: 15px;}
.contisx{
width: 900px;
height: auto;
float: left;
padding-left: 50px;
padding-right: 50px;}
.botones_loginx2n{
float: right;
margin-top: 15px;}
.cat-nuen{
width: 335px;
height: 90px;
border: 1px solid #c8c8c8;
margin-bottom: 10px;}
.cat-nuen:hover{
width: 335px;
height: 90px;
background: #EDEDED; 
border: 1px solid #EDEDED;
margin-bottom: 10px;}
.moren{
width: 106%;
height: 305px;
overflow: auto;}
.contenido-pro{
width: 100%;
float: left;
}
.div_conte{
width: 330px;
height: 90px;
margin-left: 20px;
float: left;
}
.div-image{
float: left;
width: 150px;
height: 90px;
}
.div-image img{
width: 100%;
height: 100%;}
.spanx{
color: #5f5f5f;
font-size: 15px;
font-weight: bold;
width: 330px;
height: 15px;}
.spanx2{
color: #5f5f5f;
font-size: 15px;}
.spanx2_1{
color: #5f5f5f;
font-size: 15px;
font-weight: bold;
margin-left: 10px;
margin-top: 8px;}
.spanx2_1x{
color: #5f5f5f;
font-size: 15px;
font-weight: bold;}
.spanx2_1xx{
color: #5f5f5f;
font-size: 15px;
font-weight: bold;
margin-left: -10px;
margin-top: 1px;}
.vp_ubi{
margin-top: 10px;
}
.content-valex{
width: 879px;
height: auto;
float: left;
margin-bottom: 15px;
padding-top: 30px;
}
.content-valex2{
width: 995px;
height: auto;
float: left;
margin-bottom: 15px;
padding-top: 30px;
}
.content-valexn{
width: 788px;
height: auto;
float: left;
margin-bottom: 20px;}
.modal-contentn{
width: 375px;
margin: 0 auto !important;
height: auto;
background: #FFFFFF;}
.tam_mhn{
width: unset !important;
background: #99caac;
height: 28px;
color: #FFFFFF !important;
padding: 5px;}
.tam_mhn2{
width: unset !important;
background: #99caac;
height: 40px;
color: #FFFFFF !important;
padding: 5px;}
.modal-bodyn{
position: relative;
padding: 0px 20px 20px 20px;}
.form-valexn{
height: auto;}
.form-valex{
width: 553px;
height: auto;
margin-left: 60px;}
.calen-inpxn{
position: absolute;
margin-top: -8px;
margin-left: 137px;
padding: 0px 5px 0px 5px;
background: #EDEDED;
border: none;
border-radius: 5px;}
.div-an{
margin-left: 20px !important;
margin-top: 6px;
font-size: 12px;
font-family: arial;
background: #EDEDED;
border: 0;}
.vale_mapaxn{
border: 1px solid #c8c8c8;
width: 149px;
height: 179px;
margin-top: 14px;
margin-left: 22px;}
.pre_valexn-content{
height: 230px;
padding: 20px;
width: 150px;
background-color: #EDEDED;
float: right;
margin-top: 15px;}
.cont-sec{
background-color: #fff;
padding: 12px 40px 20px 40px;
width:1001px;
float:left;
margin-bottom: 10px;}
.cont-secp{
background-color: #fff;
padding: 12px 40px 20px 40px;
float:left;
width:1001px;
}
.titulose{
margin-bottom: 15px;
  font-family: 'typo_round_regular_demoRg';
color: #505050;
margin-top: 20px;
font-size: 20px;
float: left;
font-weight: bold;}
.modal-b{
margin-left: 0px !important;
background: #f6f6f6;
border-left: 0px;
margin-top: 13px;
width: 273px;
height: 28px;
border: 0;
float:left}
.modal-boton-b{
background: url(../img/newlup-01.png) 0 0 no-repeat #f6f6f6;
background-position: 15px 3px;
margin-top: 13px;
border: 0;
height: 30px;
width: 55px;
float: right;}
.spanti{
float:left;
padding: 8px;
font-weight: bold;
}
.spanti2{
float: left;
margin-top: 12px;}
.canti_vale{
margin-left: 95px;
float: left;
margin-top: 5px;}
.min-vale{
margin-left: 30px;
margin-top: 5px;
text-align: center;}
.negro-g{
background-color: #1D1D1B;
width: 435px;
height: 263px;}
.negrillo{
width: 138px;
height: 102px;
background-color: #1D1D1B;
float: left;}
.cont-negro{
width: 525px;
height: 102px;
margin-top: 8px;}
.flode{
float: left;
margin-left: 26.8px;}
.misvales-vp-new{
width: 1005px;
height: 182px;
padding: 0px 38px 10px 38px;}
.btn-valex{
width: 438px;
height: 20px;
float: right;
margin-top: 5px;}
.mini-btn{
width: 36px;
height: 20px;}
.mini-area{
width:443px;
height: 185px;
float:right;}
.extracl{
float: left;
margin-left: 78px;
border-top: none !important;}
.calen-inpx{
position: absolute;
margin-top: -8px;
margin-left: 130px;}
.porci_vale{
margin-top: 5px;
position: absolute;
margin-left: 135px;}
.mini2{
margin-left:20px !important;
margin-top: 6px;
text-align: center;}
.ordenado-valex-a{
width: 585px;
height: 220px;}
.ordenado-pl{
    float:left !important;
}
.cnt-val{
float: right;
width: 198px;
padding: 35px;
}
/* Fin Vales Tienda*/

/* Niveles y Logros */
.img_re3z{
margin-top: 1px;
margin-left: 4px;}
.img_rez{
position: absolute;
margin-top: -5px;
margin-left: 11px;
border-radius: 5px;
-webkit-border-radius: 5px;}
.p_trofeo2x{
color: #50aa50;
position: absolute;
margin-top: 90px;
margin-left: 84px;
font-size: 23px;
font-weight: bold;}
.h3_ti{
margin-top: 6px;
margin-left: 70px;}
.desc_3{
margin-top: -14px;
margin-left: 70px;}
.ni_ti3{
margin-left: 153px;
margin-top: 35px;
color: #505050;
text-align: center;}
/* Fin Niveles y Logros */

/* Canje */
.select-locales{
width: 380px;
height: 30px;
padding: 5px;
text-align: center;}
.masdatos{
width: 485px;
height: auto;
float: left;}
.info-canje{
height: auto;
font-size: 15px;
margin-top: 10px;
width: 670px;
float: left;}
.pl-ar{
width: 266px;
height: 80px;
}
.tit-can{
font-size: 30px;
margin-top: 10px;
padding: 10px;
color: #4C86CA;
}
.canje-2{
height: auto;
float: left;
min-height: 222px;
}
.canje-1{
width:390px;
height:auto;
border-right: 2px solid #c1c6aa;
background-color: #fff;
float:left;}
.header-val{
width: 100%;
height: 30px;
border-bottom: 3px solid #c8c8c8;}
.div-codigo{
width: 390px;
float: left;
background-color: #ffffff;}
.contenido-canjeo{
width: 160px;
height: 35px;
margin-left: 15px;}
.titulo-canjex{  
font-weight: bold;
float: left;
width: 330px;
}
.codigos-canjeo{
width: 380px;
height: 34px;
padding: 5px;
text-align: center;}
.select-canjeo{
width:auto;
height: 30px;
text-align: left;}
.rayita{
margin-top: 8px;
margin-left: 10px;
padding: 5px 5px 5px 5px;
margin-right: 10px;}
.p-header{
margin: 0px;
font-size: 15px;
font-weight: bold;
font-family: 'typo_round_regular_demoRg';
font-weight: bold;
color: #fff;
padding: 7px;}
.color-val{
    background-color:#99caac;
}
.color-val2{
    background-color:#d0d0d0; 
}
.color-val3{
    background-color:#C1C6AA; 
}
.dato-canje{
float: left;
}
.dat-cli-p{
float: left;
padding: 38px 5px;
}
.p-canjes-p{
    font-size: 15px;
}
.cont-img-cnj{
   width: 16px; 
   float:left;
   padding-right: 2px;
}
.img-cnj-p{
    width: 100%
}
.img-socio{
float: left;
padding: 28px 15px;
}
.socio-logrox{
float: right;
text-align: center;
margin-top: 5px;
margin-right: 10px;
width: 100px;
height: 48px;}
.anuncio{  
background-color: #99caac;
width: 100%;
float:left; 
}
.anuncio2{
background-color: #99caac;
width: 920px;
height: 80px;
padding: 20px;
}
.pronto-p{
    position: absolute;
color: rgb(255, 255, 255);
font-family: "typo_round_regular_demoRg";
font-size: 21px;
font-weight: bold;
padding: 92px 48px;
letter-spacing: 2px;
}
.tanuncio{
margin-left: 110px;
font-size: 16px;
margin-top: 21px;
width: 760px;
font-weight: bold;
color:#fff;
text-align: justify;  
    }
.tanuncio4{
margin-left: 110px;
font-size: 15px;
margin-top: 13px;
width: 760px;
text-align: justify;
color: #fff;
font-weight: bold;
}
.valedescp{
color: #fff;
background-color: #98b5d3;
margin: 20px -20px;
width: 960px;
}
.valedescp2{
color: #fff;
background-color: #99caac;
margin: 20px -40px;
width: 960px;
}
.valedescp3{
color: #fff;
background-color: #99caac;
margin: 20px -40px;
width: 1081px;
float:left;
}
.est{
    float:left;
}
.letra-tip{
font-family: 'typo_round_regular_demoRg';
font-size: 17px;
font-weight: bold;
padding: 14px 15px;
letter-spacing: 1px;
color: #fff;
margin:0;
}
.letra-tips{
    font-weight: normal;
    color:#fff;
    font-size: 14px;
    font-family: Arial, Helvetica;
    letter-spacing: normal;   
}
.socio-logrox p{
margin-top: 50px;
float: right;}
.anunciox-Zx{
background-color: #F6F6F6;
width: 250px;
height: 100px;
margin-top: 45px;}
.datos-canje{
width: 100%;
float: left;
background-color: #ffffff;
}
.datos-canje2{
width: 686px;
height: auto;
background-color: #ffffff;
margin-bottom: 10px;
float: left;}
.p-datosx{
width: 100%;
padding: 1px;
font-size: 14px;
}
.p-datosx2{
height: auto;
float: left;
width: 653px;
padding: 10px;}
.p-canjes{
width: 155px;
height: 20px;
float: left;
margin-left: 10px;}
.adv-pre{
float: left;
margin-top: 4px;}
.conte-canje1{
width:100%;
float:left;
height:auto;}
.conte-canje2{
width:100%;
height:auto;}
.img_rex{
position: absolute;
margin-top: 0px;
margin-left: 0px;
border-radius: 5px;
-webkit-border-radius: 5px;}
.imseei{
margin-top:6px !important;}
.sietimp{
margin-top:7px !important;}
.div-inferior{
width: 100%;
border-top: 1px solid #c8c8c8;
float:left}
.div-i-1{
width: 178px;
height: 26px;
border-right: 1px solid #c8c8c8;
float: left;
font-weight: bold;
padding: 14px 0px 18px 0px;
text-align: center;}
.sizeq{
font-size: 15px;}
.div-i-3{
width: 195px;
height: 52px;
border-left: 1px solid #c8c8c8;
font-weight: bold;
padding: 1px 0px 0px 0px;
text-align: center;
float: right;}
.sizeverde{
font-size: 20px;
color: #56A92C;}
.btnx2{
width: 150px;
height: 45px;}
.sizerojo{
color: #DC0000;
font-size: 20px;
float: left;
margin-left: 10px;}
.div-i-2{
width: 210px;
height: 27px;
font-weight: bold;
padding: 15px 40px 15px 40px;
text-align: center;
float: left;}
.anunciox-Z{
background-color: #F6F6F6;
width: 250px;
height: 100px;
margin-top: 225px;}
/* Fin Canje */

/* Socios */
.inbu{
width: 256px;
height: 20px;}
.rightbaraa{
width: 475px;
height: 140px;
float: right;}
.posi_com{
width: 256px;
height: 30px;
margin-left: 30px;
float: left;}
/* Fin socios */

/* Estadisticas */
.contenido-esta{
width: 1080px;
height: 450px;
background: #FFFFFF;
margin-top: 10px;}
.rowg{
width: 390px !important;}
.colordiv{
border-color: #008AD1;}
.acep_pos{
margin-top: 5px;
position: absolute;
margin-left: -25px;}
/* Fin Estadisticas */

/* Peticion */
.container-peticion{
width: 1050px;
height: auto;
float: left;
background: #FFFFFF;
padding: 0px 30px 10px;
}
.container-dat{
width: 302px;
height: 180px;
padding: 12px;
border: 1px solid #EDEDED;
float:left;}
.peticion-img{
width: 170px;
height: 130px;
float: left;}
.nombre-peti{
width: 130px;
height: 130px;
float: right;
font-size: 15px;
overflow: hidden;
word-wrap: break-word;}
.container-ex{
width: 49.8%;
float: left;
text-align: center;
}
.container-exx{
width: 100%;
height: 130px;
float: left;}
.datos-adi{
float: left;
width: 300px;
height: 13px;
padding: 7px 7px 7px 0px;}
.container-global{
float: left;
}
.combo-peticion{
width: 100%;
height: auto;
float: left;
padding: 0px 0px 10px 0px;
margin-top:40px;}
.perfiltp{
float:left;
padding: 25px 0px 0px 25px;
width: 500px;
}
.otrocon{
width: 920px;
float: left;
height: auto;
background-color: #fff;
padding: 0px 20px 20px 20px;
    }
.conf-2{
float: left;
border: 0;
background-color: #e7e7e7;
width: 75px;
padding: 6px 10px;
border-radius: 5px;
text-align: center;
color: #595858;
}
.conf-3{
float:left;
border: 0;
background-color: #e0c89e;
width: 140px;
padding: 6px 10px;
border-radius: 5px;
text-align: center;
}
.cont-input-conf{
    float:right;
    width:288px;
}
.input-conf{
    float: right;
    border: 0;
    background-color: #e7e7e7;
    width: 266px;
    color: #595858;
    padding: 6px 10px;
    border-radius: 5px;
}
.input-selec{
    width: 286px;
    float:left;
}
.cont-subimg{
    width: 100%;
    float:left;
    padding-top: 20px;
}
.input-conf-coor{
float: right;
border: 0;
color: #595858;
background-color: #e7e7e7;
width: 241px;
padding: 6px 5px;
border-radius: 5px;
margin-right: 7px;
}
.tanuncio2x{
margin-left: 110px;
font-size: 14px;
width: 760px;
text-align: justify;
color: #fff;
font-weight: bold;
    }
.cont-peti{   
    float:left;
}
.ext-conta{
    width: 625px;
    height: auto;
    float: right;
}
.div-direcciones{
width: 48%;
float: left;
padding: 10px;
}
.elegir-local{
    padding: 10px;
    float: left;
    width: 100%;
}
.formu-d{
    float:right;
    padding: 5px;
    width:340px;
}
.cont-loc{
    float:left;
}
.locales-t{
  width: 100%;
background-color: #ffbd00;
height: 30px;
}
.locales-t img{
   float: left;
width: 15px;
padding: 5px 9px;
}
.locales-t span{
   color: #fff;
font-family: 'typo_round_regular_demoRg';
float: left;
padding: 6px 0px;
font-size: 14px;
}
.btn-form{
    background: url('../img/siguiente-01.png') no-repeat;
border: none;
cursor: pointer;
width: 148px;
height: 46px;
border-radius: 5px;
float:right;
}
.containt-formu{
    width: 920px;
   margin: 0 auto;
}
.img-muest{
    float:left;
}
/* Fin Peticion */
/*Agentes */
.container-age{
    float:left; 
    width: 100%;
}
.cont-age-usu{
    width: 360px;
    float:left;
}
.age-info{
    float:left;
    width: 100%;
}
.age-img{
    float: left;
    width: 110px;
    padding: 10px;
}
.age-img img{
    width: 100%
}
.age-datos{
    float: left;
    width: 200px;
    height: 108px;
    padding: 13px 2px;
}
.age-dat-nom{
    float:left;
}
.age-nom{
 padding: 2px;   
}
.age-nom p{
    font-family: 'typo_round_regular_demoRg';
    font-weight: bold;
    margin: 0px;
    font-size: 14px;
}
.agente p{
    font-family: 'typo_round_regular_demoRg';
    margin: 0px;
    font-size: 11px;
}
.agente{
 padding: 2px;   
}
.age-mes{
    float:left;   
}
.age-mes-grafico{
    padding: 8px;
    width: 50px;
    height: 50px;
    float: left;
}
.age-mes-grafico img{
    width: 100%;
    height: 100%;
}
.age-nom-mes{
    position: absolute;
    padding: 18px 2px;
    width: 46px;
    text-align: center;
}
.age-nom-mes p{
    color: #fff;
    margin: 0;
    font-size: 10px;
    font-weight: bold;
}
.age-info2{
    float:left;
    width: 100%;
    height: 45px;
}
.age-fech-ins{
    float: left;
    padding: 10px;
}
.age-fech{
    float:left;
    padding: 2px
}
.age-fech p{
    font-weight: bold;
    font-family: 'typo_round_regular_demoRg';
    font-size: 14px;
    margin: 0;
}
.age-num-fech{
    float: left;
    padding: 5px 14px;
}
.age-num-fech p{
    font-size: 11px;
    margin: 0;
}
.age-cont-conteo-mes{
    float:left;
}
.age-cont-conteo{
    padding: 10px 0px;
    float: left;
}
.age-column{
    padding: 16px 55px;
    float: left;
}
.age-tien{
    width: 100%;
    text-align: center;
}
.age-tien span{
    font-size: 40px;
    font-family: 'typo_round_regular_demoRg';   
}
.age-tien p{
    font-size: 16px;
    margin: 0;
    font-family: 'typo_round_regular_demoRg';
}
.no-borderr{
    border:none !important;
}
.age-cont-colum{
    float:left;
    height: 128px;
    border-right: 2px solid;
}
.age-cont-rank{
    float:right;
    height: 100%
}
.age-rank{
    float: left;
    background-color: #c7c7c7;
    height: 130px;
    width: 99px;
     text-align: center;
    margin: 10px 10px;  
}
.age-text-rank{
    float: left;
    padding: 10px 22px;
}
.age-text-rank span{
    color:#fff;
    font-size: 14px;
    font-weight: bold;
}
.age-num-rank{
        background-color: #fff;
    display: inline-block;
    height: 62px;
    padding-top: 22px;
    width: 85%;
}
.age-num-rank span{
    font-size: 33px;
    font-family: "typo_round_regular_demoRg";
    color: rgb(153, 202, 172);
}
.age-color-rank{
   background-color: #99caac;
   float: left;
   width: 100%;
}
.container-info-age{
    float:left;
    background-color: #fff;
    width: 100%;
}
.age-titu-clientes{
    float: left;
    background-color: #c7c7c7;
    margin: 20px 0px;
    width: 100%;
}
.age-titu-agentes{
    float: left;
    background-color: #99caac;
    margin: 20px 0px;
    width: 100%;
}
.mis-cli{
    float: left;
    padding: 10px 20px;
}
.mis-cli span{
    color:#fff;
    font-family: "typo_round_regular_demoRg";
    font-size: 15px;
    font-weight: bold;
}
.cont-fech-age{
    float:right;
    padding: 6px;
}
.age-fech-inputs{
    float: right;
    padding: 0px 15px;
}
.age-imput{
    float: right;
}
.age-nom-fech{
    float: left;
    padding: 5px 12px;
}
.age-nom-fech span{
    color: #fff;
    font-size: 12px;
    font-family: "typo_round_regular_demoRg";
}
.input-age{
    background: #fff;
    border: 0;
    border-radius: 5px;
    color: #5F5F5F;
    padding: 3px;
    width: 100px;
}
.cont-age-tab{
    float:left;
    text-align:center;
    width: 100%;
}
.age-tab{
    border-top: 1px solid;
    border-left: 1px solid;
    float: left;
}
.age-tab-titu{
    float: left;
}
.age-titu-ti{
    float: left;
    padding: 10px 0px;
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 270px;
}
.age-titu-ti span{
    font-weight: bold;
    font-size: 13px;
}
.age-titu-ti2{
    float: left;
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 270px;
    height: 37px
}
.age-titu-sp{
    text-align: center;
    padding: 10px 0px;
}
.age-titu-sp span{
    font-weight: bold;
    font-size: 13px;
}
.age-titu-re{
    float: left;
    text-align: center;
    padding: 10px 0px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 108px;
}
.age-titu-re2{
    float: left;
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 108px;
    height: 37px;
}
.age-titu-sp2{
    text-align: center;
    padding: 3px 0px;
}
.age-titu-sp2 span{
    font-weight: bold;
    font-size: 13px;
}
.age-titu-re2 p{
    font-weight: bold;
    font-size: 13px;
    margin: 0;
}
.age-titu-re span{
    font-weight: bold;
    font-size: 13px;
}
.age-cont-tab{
   display:inline-block;
}
.age-inf-tie{
    
}
.age-info-tienda{
    float: left;
    width: 270px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 95px;
}
.age-img-tie{
    float: left;
    width: 95px;
    padding: 7px 8px;
    height: 81px;
}
.age-img-tie img{
    width: 100%;
    height: 100%;
}
.age-nom-tie{
    float: left;
    padding: 26px 0px;
    text-align: center;
    width: 155px;
}
.age-nom-tie span{
    font-weight: bold;
    font-size: 13px;
}
.age-caja-check{
    float: left;
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 95px;
    width: 108px;
}
.caja-check{
    float: left;
    padding: 31px 39px;
}
.caja-check2{
    float: left;
    text-align: center;
    width: 108px;
    padding: 41px 0px;
}
.caja-check2 span{
    font-size: 13px;
}
.caja-boton-check{
    float: left;
    padding: 17px 26px;
}
.age-num-a{
    float: left;
    padding: 35px 10px;
    text-align: center; 
}
.age-num-a span{
    color: #99caac;
    font-size: 22px;
    font-weight: bold;
}
.age-foto{
    float: left;
    width: 60px;
    padding: 18px 10px;
    height: 60px;
}
.age-foto img{
    width:100%;
    height: 100%;
}
.age-nom-a{
    float: left;
    text-align: center;
    padding: 40px 0px;
    width: 143px;
}
.age-nom-a span{
    font-weight: bold;
    font-size: 13px;
}
.btn-age{
    float:left;
    padding: 22px 65px 22px 0px;
}
.btn-age span{
    color: #fff;
    font-size: 11px;
}
.btn-sugerir{
    border: 0;
    padding: 3px 12px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
/*Fin Agentes*/
.container-datos{
    float:left;
    width: 100%;
}
.cont-dat-usu{
    float: left;
    padding: 10px 30px;
}
.datos-usu{
    font-family: "typo_round_bold_demoregular";
}
.div-img-usu{
    float: left;
    padding: 10px 0px;
    width: 120px;
}
.div-img-usu img{
    width: 100%;
}
.info-usu{
    float: left;
    padding: 24px 18px;
}
.nom-usu{
    color: rgb(30, 133, 199);
    font-size: 23px;
    font-family: "typo_round_regular_demoRg";
}
.pais-usu{
    font-weight: bold;
    font-size: 15px;
}
.edad-usu{
    color: rgb(128, 178, 1);
    font-weight: bold;
    font-size: 13px;
}
.correo-usu{
    font-weight: bold;
    font-size: 13px;
}
.input-direcciones{
    float:left;
}
.span-direcciones{
    float: left;
    padding: 2px;
}
.logo-page{
    float: left;
    width: 20px;
}
.logo-page img{
    width: 100%;
}
.titu-page{
    float: left;
    padding: 4px 5px;
}
.wizard{
    margin-top: 0px;
    height: 50px;
    width: 100%;
    background-color: #EDEDED;
}
.wizard2 {
    margin-left: 0px;
    margin-top: 0px;
    height: 65px;
    width: 960px;
    background-color: #EDEDED;
    float: left;
}
.div-img-anuncio{
    float: left;
    padding: 32px;
}
.div-anuncio{
    float: left;
    padding: 22px  0 0 8px;
}
.div-anuncio p{
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.subir-logo{
    float: left;
    padding: 10px;
    text-align: center;
    width: 450px;
    margin-left: 70px;
}
.cont-subelogo{
    padding: 36px 8px 1px;
}
.tm-logo{
    float:left;
    padding: 0px 8px
}
.cont-img-logo{
    float: right;
    padding: 0px 10px;
}
.img-logo{
    float: left;
    width: 266px;
}
.inputs-re ::-webkit-placeholder{
font-weight:bold;
color:#626262;}
.inputs-re ::-moz-placeholder{  
font-weight:bold;
color:#626262;}
.img-flecha-local{
    width: 50px;
    margin-top: -24px;
    background-color: rgba(255,255,255,0.5);
    height: 80px;
}
.img-flecha-local img{
    width: 100%;
        height:100%;
}
.cont-bloque-canje{
    float: left;
    width: 100%;
}
.bloque-canje{
    float: left;
    width: 49%;
    text-align: center;
}
.valor-vale-canje{
    padding: 25px;
    min-width: 230px;
    display: inline-block;
}
.img-vale-canje{
    float: left;
    width: 40px;
}
.img-vale-canje img{
    width: 100%;
}
.vp-vale-canje{
    float: left;
    color: #1e85c7;
    font-family: 'typo_round_bold_demoregular';
    font-size: 20px;
    padding: 7px 0px 0px 13px;
}
.suma-vale-canje{
    float: left;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #80b201;
    font-size: 24px;
    padding: 5px 10px 0px;
}
.monto-vale-canje{
    float: left;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #80b201;
    font-size: 23px;
    padding: 7px 0px 0px;
}
.limite-vale-canje{
    padding: 0px 25px;
    min-width: 230px;
    display: inline-block;
}
.limite-bloque-canje{
    float: left;
    width: 49%;
}
.titu-limitecanje{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    padding: 3px 0px;
}
.fecha-limitecanje{
    font-size: 13px;
    padding: 2px 0px;
}
.dias-faltantes{
    font-size: 38px;
    text-align: center;
}
.cont-btn-canje{
    padding: 61px 0px;
    display: inline-block;
}
.img-canje-vale{
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
.disp-img-canje{
    display:inline-block;
}
.tip{
    cursor:pointer;
}
.closeub{
    margin-right: 6px !important;
    margin-top: 1px !important;
}
.ti-sn-cm{
    margin:0;
    padding: 13px 0 0;
    float: left;
}
.va-sn-cm{
    margin:0;
    padding: 33px 11px 0;
    float: left;
}
.titu-empresasvp{
    color: #fff;
    height: 491px;
    position: relative;
    text-align: center;
}
.titu1-empresavp{
    bottom: 52%;
    font-size: 80px;
    font-weight: bold;
    left: 0;
    position: absolute;
    width: 100%;
}
.titu2-empresavp{
    bottom: 48%;
    font-size: 27px;
    font-weight: bold;
    left: 0;
    position: absolute;
    width: 100%;
}
.cont-planes-empresasvp{
    margin: 0 auto;
    padding: 20px 10px;
    text-align: center;
    width: 850px;
    height: 371px;
}
.cont-planes-empresasvp p{
    margin:0;   
    color: #000;
}
.plan-empresasvp{
    display:inline-block;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    margin: 0 7px;
    width:260px;
    position: relative;
    background: #fff none repeat scroll 0 0;
    text-align: center;
}
.cont-all{   
    position: relative;
}
.cont-all2{   
    position: relative;
    background: #ededed
}
.titu-plan{
    font-family: "typo_round_regular_demoRg";
    font-size: 30px;
    margin: 15px 0 5px !important;
}
.info-plan{
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.costo-plan-empresasvp{
    margin:15px 0 0 0;
    height: 30px;
    position: relative;
}
.costo-plan-empresasvp span{
    font-weight: bold;
    color:rgb(245, 159, 22);
    font-size: 19px;
}
.img-plan-vp{
    margin: 20px;
    width: 65px;
}
.btn-planvp{
    margin: 20px 0;
    width: 230px;
    cursor: pointer;
}
.info-planvp p{
    height:13px;
    font-size: 11px;
}
.color-basico{
    color:rgb(245, 159, 22) !important;
}
.color-business{
    color:#6cb4f3 !important;
}
.costo-plan-empresasvp-business{
    height: 30px;
    margin: 15px 0 0;
    position: relative;
}
.costo-plan-empresasvp-business span{
    color: #6cb4f3;
    float:left;
}
.monto-costo{
    font-size: 30px;
    font-weight: bold;  
}
.monto-costo2{
    font-size: 50px;
    font-weight: bold;  
}
.dolar-costo{
    font-size: 16px;
    font-weight: bold;
}
.dolar-costo2,.punto-costo2{
    font-size: 25px;
    font-weight: bold;
}
.punto-costo{
    font-size: 16px;
    font-weight: bold;
}

.mensual-costo{
    color: #c4c4c4 !important;
    display: block;
    float: unset !important;
    font-size: 11px;
}
.mensual-costo2{
    font-size:17px;
}
.prlocal-costo2{
    display: block;
    float: unset !important;
    font-size: 11px;
}
.prlocal-costo{
    color: #000 !important;
    display: block;
    float: unset !important;
    font-size: 11px;
}
.cont-costos{
    display:inline-block;
}
.cont-mens-local-costo{
    float: left;
    margin: 7px 0 0 3px;
}
.liston-plan-vp{
    position: absolute;
    right: -9px;
    top: -10px;
    width: 93px;
}
.cont-img-tienda-perf{
    margin:0 auto;
    width:850px;
}
.cont-form-regi-tienda{
    margin:0 auto;
    width:500px;
    text-align: center;
}
.color-plan-regi{
    color: rgb(245, 159, 22);
    font-size: 19px;
    font-weight: bold;
}
.term-poli-pr{
    margin-top: 20px;
}
.term-poli-pr span{
    display:block;
}
.term-poli-pr p{
    text-decoration: underline;
}
.btn-planvpsub{
    background: transparent url("../tiendas/boton-naranja.png") no-repeat scroll center center;
    border: 0 none;
    height: 50px;
    width: 170px;
}
.btn-planvpsub2{
    background: transparent url("../tiendas/boton-azul2.png") no-repeat scroll center center;
    border: 0 none;
    height: 50px;
    width: 170px;
}
.border-im{
    border: 1px solid #c7c7c7 !important;
    padding: 8px 25px !important;
    width:218px !important;
}
.log-busi{
    float: left;
    margin-left: 25px;
    width: 155px;
}
.log-busi img{
    width: 30px;
}
.cont-banng-nolog{
    width: 100%;
    height: 200px;
    background-color: #ccc;
}
.cont-banng-nolog img{
    width: 100%;
height:100%;
}
.cont-bang2{
    height: 80px;
    background-color: #ccc;
}
.cont-bang2 img{    
    width: 100%;
height:100%;
}
.cont-al{
    background-color: #fff;
}
.cont-cate-val{
    display: inline-block;
    margin-top: 10px;
}
.cont-tx-cate{
    float: left;
    width:150px;
    margin-left: 10px;    
    height: 300px;
    background-color: #ccc;
}
.titu-cate{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 0 10px;
}
.sub-cate{
    font-size: 13px;
    margin: 0;
    padding: 2px 0 0 15px;
}
.bord-out{
    border-bottom:10px solid #fff !important;
}
.bord-out2{
    border: medium none !important;
}
.vales-tx-cate{
    float:left;
    width:920px;
}
.cont-tab-perfil-tie-pe{
    display: table;
    width: 920px;
}
.vale-container-pqe{
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    float: left;
    height: 190px;
    margin: 0 0 0px 14px;
    width: 165px;
}
.img_val-pqe{
    float: left;
    height: 110px;
    text-align: left;
    width: 100%;
}
.img_val-pqe img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 110px;
    position: absolute;
    width: 165px;
}
.vale-monto-pqe{
    border-top: 1px solid #c8c8c8;
    color: #dc0000;
    float: left;
    font-size: 10px;
    text-align: left;
    width: 100%;
}
.vale_descripcion-pqe{
    color: #1e85c7;
    float: left;
    font-family: "typo_round_regular_demoRg";
    height: 60px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
}
.descripcion-vale-pqe{
    color: #1e85c7;
    font-family: "Varela Round",sans-serif;
    font-size: 12px;
    height: 29px;
    line-height: 1.2;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 3px;
    text-align: left;
}
.logo-atext-pqe{
    float: left;
    margin: 0 5px 0 0;
}
.vale-fila-perf-tie-pqe{
    height: 192px;
}
.banner-per-tie-pqe{
    display:block;
    
}
.logo-fb-footer{
    margin: -4px 2px 3px 12px;
    position: absolute;
    width: 25px;
}
.cont-ban-pqe{
    float:left;
    margin-left: 10px;
}
.cont-ban-opi-pqe{
    display: inline-block;
    margin-top: 10px;
}
.opi-pqe{
    float:left;
    width: 740px;
}
.cont-siguenosvp{
    height: 80px;
    background-color: #1e85c7;
}
.siguevp{
    color: rgba(112,146,190,1);
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 19px 25px 0;
}
.siguevp img {
    display: block;
    width: 220px;
}
.recb-pr{
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
    padding: 31px 0 0;
}
.cont-btn-siguenos{
    float:right;
    margin-right: 10px;
    margin-top: 25px;
}
.camp-corr{
    border: 0 none;
    float: left;
    height: 33px;
    border-radius: 5px;
    padding: 0 10px;
    width: 300px;
}
.btn-siguenos{
    border: 0 none;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 33px;
    margin-left: 10px;
}
.header-per-tie{
    height: 110px !important;
    border: 0 none !important;
}
.cont-header-perf-tie{
    margin:0 auto;
    width:1080px;
    height: 92px;
}
.img-perfil-tie-head{
    float:left;
    margin-top: 6px;
}
.nom-perf-tie-head{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 80px;
}
.telf-tie-head{
    float: right;
    font-size: 20px;    
    font-weight: bold;
    margin-top: 5px;
}
.cont-banner-g-head{
    float: right;
    height: 80px;
    width: 690px;
}
.cont-ban-all-head{
    width: 690px;
    float:right;
}
.vp-pan-cnt{
    bottom: 65px;
    padding: 5px 25px;
    position: absolute;
    width: 190px;
}
.pck-cl{
    float: left;
    text-align: center;
    width: 231px;
}
.pck-cl img{
    display: inline-block;
    width: 70%;
    margin-bottom: 20px;
}
.pck-cl p{
    color: #808080;
    font-size: 15px;
    margin:0;
}
.h-plan{
    height:600px;
}
.pl-neg{
    background: #fff;
    height: 1400px;
    position:relative;
}
.cont-pl-neg{
    width:960px;
    margin:0 auto;
    height: 600px;
    position:relative;
}
.ab-pl{
    position: absolute;
    bottom: 0;
    right: 30px;
}
.bl-pl{
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    width: 260px;
    float: left;
    position: relative;
}
.img-bl-ab{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    border: 7px solid #fff;
    top: -50px;
    right: 50%;
    margin-right: -37px;
}
.img-bl-ab img{
    width: 60px;
}
.bl-pl p{
    margin:0;
    color:#000;
}
.bl-tit{
    padding: 10px;
    text-align: center;
}
.titu-bl{
    font-family: "typo_round_regular_demoRg";
    font-size: 27px;
    padding: 15px 0px 10px 0px;
    font-weight: bold;
}
.info-bl{
    font-size: 13px;
    font-weight: bold;
}
.mrg-l-bl{
    margin-left: 2px;
}
.dv-info{
    text-align: center;
    background: #f69d17;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.dv-info:before { 
    background-color: #e49316;
    content: "";
    height: 300%;
    left: -6%;
    position: absolute;
    top: -4px;
    transform: rotate(59deg);
    width: 100%;
    z-index: -1;
}
.sdv-info{
    text-align: center;
    background: #f69d17;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;    
}
.sdv-info:before { 
    background-color: #e49316;
    content: "";
    height: 300%;
    left: 58%;
    position: absolute;
    top: -4px;
    transform: rotate(150deg);
    width: 100%;
    z-index: -1;
}
.sdv-info2{
    text-align: center;
    background: #63c4f7;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;    
}
.sdv-info2:before { 
    background-color: #2fb4f6;
    content: "";
    height: 300%;
    left: 58%;
    position: absolute;
    top: -4px;
    transform: rotate(150deg);
    width: 100%;
    z-index: -1;
}
.dv-info2{
    text-align: center;
    background: #63c4f7;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.dv-info2:before { 
    background-color: #2fb4f6;
    content: "";
    height: 300%;
    left: -6%;
    position: absolute;
    top: -4px;
    transform: rotate(59deg);
    width: 100%;
    z-index: -1;
}
.dv-info3{
    background: #f69d17 none repeat scroll 0 0;
    color: #fff;
    height: 95px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.dv-info3:before { 
    background-color: #e49316;
    content: "";
    height: 400%;
    left: 3%;
    position: absolute;
    top: -4px;
    transform: rotate(72deg);
    width: 100%;
    z-index: -1;
}
.dv-info4{
    background: #63c4f7 none repeat scroll 0 0;
    height: 95px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;    
}
.dv-info4:before { 
    background-color: #2fb4f6;
    content: "";
    height: 400%;
    left: 3%;
    position: absolute;
    top: -4px;
    transform: rotate(72deg);
    width: 100%;
    z-index: -1;
}
.dv-info p,.dv-info2 p,.dv-info3 p,.dv-info4 p,.sdv-info p,.sdv-info2 p{
    color: #fff;
}

.sub-dv-info{
    padding-bottom: 25px;
}
.sub-dv-info2{
    padding-bottom: 10px;
}
.sub-dv-info2 p{
    margin:0;
}
.sub-dv-info p{
    font-size: 14px;    
}
.tit-dv-info{
    padding: 20px;
    height: 60px;
}
.tit-dv-info2{
    height: 45px;
    padding: 10px 0 0;
}
.tit-dv-info2 p{
    font-size: 40px;
    font-weight: bold;
}
.tit-dv-info p{
    font-size: 50px;
    font-weight: bold;
}
.tit-dv-info3{
    height: 45px;
    padding: 15px 0 0;
}
.b-dv{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
.tit-dv-info span,.tit-dv-info3 span{
    float:left;
    color: #fff;
}
.inf-ab-pl{
    position: absolute;
    top: 0;
    right: 30px;
}
.fil-inf-ab{
    float: left;
    width: 400px;
}
.fil-num-ab{
    text-align: center;
    float: left;
    width: 258px;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}
.fil-num-ab img, .fil-num-ab2 img{
    padding: 16px;
    width: 17px;
}
.fil-num-ab p,.fil-num-ab2 p, .fil-inf-ab p{
    padding: 15px;
    font-size: 18px;
    margin: 0;
}
.fil-num-ab2{
    text-align: center;
    float: left;
    width: 258px;
    margin-left: 2px;
    border-left: 1px solid #2fb4f6;
    border-right: 1px solid #2fb4f6;
}
.fil-num-ab3{
    text-align: center;
    float: left;
    width: 258px;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}
.fil-num-ab4{
    text-align: center;
    float: left;
    width: 258px;
    margin-left: 2px;
    border-left: 1px solid #2fb4f6;
    border-right: 1px solid #2fb4f6;
}
.al-inf{
    height: 52px;
    border-bottom: 1px solid #dfdfdf;
}
.al-inf2{
    background: #f5f7f7 none repeat scroll 0 0;
    height: 52px;
    border-bottom: 1px solid #dfdfdf;
}
.cn-pub-m{
    height: 95px;
}
.cn-bt-inf{
    float:left;
    text-align: center;
    width:260px;
    margin-top: 30px;
}
.bt-inf{
    display:inline-block;
    width: 170px;
}
.titu-pl-neg{
    position: absolute;
    right: 0;
    top: 70px;
}
.titu-pl-neg p{
    color:#fff;
}
.titu-pl1{
    font-size: 37px;
    font-weight: bold;
    text-shadow: 1px 1px 6px #000;
}
.titu-pl2{
    font-size: 21px;
    text-shadow: 1px 1px 6px #000;
}
.tx-manocell{
    position: absolute;
    top: 100px;
    width: 400px;
    z-index: 1;
}
.ab-cora{
    position: absolute;
    right: 0;
    top: 400px;
    width: 140px;
}
.ab-qr{
    bottom: 80px;
    left: 0;
    position: absolute;
    width: 200px;
}
.br-pl{
    border-top: 10px solid #e49316;
}
.br-pl2{
    border-top: 10px solid #2388bc;
}

.tit-neg{
    color: #454545;
    font-size: 35px;
    padding: 25px 0;
    text-align: center;
}
.activefl{
    background-position: -26px 0 !important;
}
.tit-frec{
    background: #fff none repeat scroll 0 0;
    padding: 15px;
    position:relative;
    margin-bottom:10px;
}
.tit-frec div{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    opacity: 0.8;
    background: url(../iconosconf/flechas.png) 0 0 no-repeat transparent;
    width: 22px;
    height: 22px;
}
.tit-fec div:active{
    background-position: -26px 0;
}
.tit-frec p{
    color: #008aec;
    font-size: 20px;
    font-weight: bold;
    margin:0;
}
.inf-active{
    background: blue;
}
.inf-frec{
    padding: 0px 15px 10px 15px;

}
.inf-frec p{
    color: #808080;
    padding: 10px 15px;
    font-size: 16px;
    margin:0;
}
.cont-pl-neg2{
    margin: 0 auto;
    position: relative;
    width: 960px;    
}
.h-dud{
    height:300px;
}
.cnt-llam{
    margin-top:20px;
}
.cnt-llam img{
    width:25px;
    float:left;
}
.cnt-llam-img{
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
.cnt-llam-img p{
    color: #fff;
    float: left;
    font-size: 20px;
    margin: 1px 5px;
    text-shadow: 1px 1px 6px #000;
}
.cont-cent-im5{
    height: 170px;
    left: 50%;
    margin-left: -480px;
    margin-top: -85px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 960px;
    z-index: 1;
}
.ab-vp{
    bottom: -126px;
    position: absolute;
    right: 0;
    width: 330px;
}